[2017-02-13 06:41] amansharma0091 opened #1 "How to use it with SystemJS?"

[2017-02-13 22:08] bfwg commented on #1
Hi @amansharma0091 this is a very good question.

You have to add the package declaration in `system.conf.js`.

For example, if you are using [angular2-starter](https://github.com/antonybudianto/angular2-starter), you need to add those few things to the config file.

https://github.com/antonybudianto/angular2-starter/blob/master/src/systemjs.conf.js#L18
https://github.com/antonybudianto/angular2-s

[2017-02-17 13:50] 0nza1101 opened #2 "import BrowserModule"
Hello man great plugin,
I would notice you, you imported BrowserModule inside angular2-drag-scroll.ts and cause of this I cant import it inside my NgModule because BrowserModule cant be loaded twice see [this](https://hassantariqblog.wordpress.com/2016/10/16/angular2-lazy-loading-in-angular2-error-browsermodule-has-already-been-loaded-if-you-need-access-to-common-directives/l).

[2017-02-17 19:53] bfwg commented on #2
Hi @0nza1101

I created a fix for this #3

Uninstall the old plugin and run:
[code]
Thanks for reporting this. Let me know if it's working for you!

[2017-02-21 05:51] bfwg commented on #1
Hey @amansharma0091 , any updates?

[2017-02-21 05:52] bfwg commented on #2
Hey @0nza1101 , any updates?

[2017-02-21 10:20] 0nza1101 commented on #2
Hey, yes the problem is fixed but It seems I cant use your module in my project 🤕

[2017-02-21 16:56] bfwg commented on #2
Is there a technique issue? 😞

[2017-02-21 20:15] 0nza1101 commented on #2
No I can get your sample working but not in my project, maybe a css break or something like that

[2017-02-22 06:58] bfwg commented on #2
@0nza1101 I'm sorry to hear that, thanks for reporting this issue.

[2017-02-22 06:58] #2 closed

[2017-02-22 06:58] bfwg commented on #1
Closing due to no updates.

[2017-02-22 06:58] #1 closed

[2017-03-21 21:46] joejordanbrown opened #4 "Doesn't trigger CSS scroll-snap"
This doesn't work with the CSS scroll-snap, It's currently only a FireFox, Safari and Edge feature so will need to be viewed on one of them browsers since I've not added a polyfill.

Plunker Demo below
http://embed.plnkr.co/muToSNDeqz94rHX4yNJZ/

[2017-03-22 16:52] bfwg commented on #4
@joejordanbrown Thanks for the feedback, the Plunker Demo link is not working for me.

[2017-03-22 21:13] joejordanbrown commented on #4
@bfwg I've updated the link, that must have been a temp URL I added before.

I'm unsure if this actually could be a problem with browsers implementation of this CSS feature. I've been playing around and notice it doesn't trigger when using JavaScript scrollTop, scrollTo etc. The documentation for this feature is still very basic. I will look into it further and see if it needs an event triggerd to

[2017-03-22 22:00] bfwg commented on #4
I see, so it needs a mouse action to trigger. If you found a way to make this work, a PR is more than welcome!

[2017-05-16 12:38] Douglasfeuser opened #5 "file not found"
I'am testing, a new app and needed a similar function like dragscroll.
But i can't get this one to work, i get the following error.
I'am using ionic 2 framework.

Module build failed: Error: ENOENT: no such file or directory, open 'C:\ionic2\edigital-app\node_modules\angular2-drag-scroll\src\angular2-drag-scroll.js.map'

[2017-05-21 07:47] bfwg commented on #5
@Douglasfeuser , thanks for reporting, I'll put up a fix for this soon.

[2017-05-25 00:56] bfwg commented on #4
@joejordanbrown I'm going to close this issue. If you feel this needs to be reopen again, let me know.

[2017-05-25 05:26] bfwg commented on #5
@Douglasfeuser Is it working fine now?

[2017-05-29 18:21] Douglasfeuser commented on #5
Yes it's working now. Thanks

[2017-05-29 18:21] #5 closed

[2017-06-01 09:50] vlikin opened #7 "Release for Angular4"
Hello. Your library looks well. Could you make a release for Angular4?

[2017-06-01 20:59] bfwg commented on #7
@vlikin Will do.

[2017-06-08 01:50] #7 closed

[2017-06-12 07:29] kingkarki opened #9 "Drag on click"
Drag left/right on click even would be very nice. eg owl carousel

Thanks

[2017-06-19 06:14] tommykamkcm opened #10 "Question: How to use it with ng-bootstrap's tabset?"
Hello, just found this plugin from google.

I found it really useful for the site navigation menu which is very long. However, the menu is built with ngb-tabset (one of the ng-bootstrap's components) and I am not sure how to inject your plugin into the tabset component.

It would be really good if can give me some advice! Thanks a lot!

[2017-06-19 16:13] bfwg commented on #10
Hi @tommykamkcm, I'd love to do what ever I can for help, can you provide some of your code?

[2017-06-20 06:21] tommykamkcm commented on #10
Thanks for your prompt response! First of all, I only have some experience on Angular1 and I am a newbie to Angular2. So I am not sure what I'm trying to do is possible or not:

So below is the HTML code for generating the ng-bootstrap's Tabset component: https://ng-bootstrap.github.io/#/components/tabs
[code]
and eventually it becomes
[code]
So what I've tried to do is adding `drag-scroll` to the

[2017-06-20 12:33] tommykamkcm commented on #10
Hello @bfwg, Finally got it working! Basically, I need to manually
- define the attrs available in API
- call ngOnChanges()
- bind all the mouse events using renderer.listen() & renderer.listenGlobal()

[code]

[2017-06-21 04:11] bfwg commented on #10
@tommykamkcm Thanks for reporting this, I have updated the library to use `renderer.listenGlobal()`. Let me know if you notice anything else.

[2017-06-21 05:19] tommykamkcm commented on #10
hello @bfwg, sorry for being annoying but I just found that what I've done yesterday is actually affecting other components e.g. <input type="range">.

What I suggest to do is: bind `mouseup` `mousemove` on `el.nativeElement` instead of `document` in the constructor
[code]
After doing this, only 1 step is required for the initialisation:
- define the attrs available in API
- ~call ngOnChanges()~
-

[2017-06-21 16:30] bfwg commented on #10
Ah, I see what you mean. I will update the source some time today and upload to npm, thanks again for reporting this.

[2017-06-22 07:47] bfwg commented on #10
Hey @tommykamkcm , I just realized `mouseup` and  `mousemove` has to be on document, otherwise the content will stop moving if you press down the mouse and drag to outside of the component.
Any ideas? If you like you can put up a pull request and I can merge it.

[2017-06-22 08:46] paw1 opened #11 "Not able to drag-scroll vertically"
Hi.

Is there any necessary css that needs to be applied to the container that i'm making drag-scrollable?

So far I've only added "drag-scroll" and [drag-scroll-disabled]="disabled" to my container div, and I am only able to scroll horizontally.

I can see that these cssproperties have been applied to the container :

overflow: auto;
white-space: nowrap;
display: block;

Also, my horizontal scrol

[2017-06-22 10:34] cozzer opened #12 "Angular 4 forward compatability"
Is the intention for this module to be forward compatible with newer version of angular?

[2017-06-22 15:43] tommykamkcm commented on #10
hello @bfwg, maybe let's take a step back and think about different use cases.

My use case is to make a long horizontal menu drag-scrollable by mouse or finger. Everything was going well until I dragged on an HTML5 slider, which is mousemove sensitive. I could click and drag, but not release the handle after it reached the correct position.

So to me what I expect are a) user. always drag inside

[2017-06-22 16:13] bfwg commented on #12
Yes @cozzer , upgrade dependencies is in progress.

[2017-06-22 16:18] bfwg commented on #10
Hi @tommykamkcm , I think we can definitely fix this. Can you show me the full component code which you were trying to use `drag-scroll` on? So I can reproduce on my end and debug/fix it.

Thanks again for being patient with me 😄 .

[2017-06-22 16:24] bfwg commented on #11
Hi @paw1 thanks for reporting this, can you give me the flavour of your OS and some code about your drag-scroll component?

[2017-06-23 05:16] bfwg commented on #10
Hi @tommykamkcm, I have put the below code in the demo app html template.
[code]
The drag list worked as expected. Can you provide more detail about your html code please?

[2017-06-23 05:52] bfwg commented on #12
Updated to Angular 4.2.3  on `master` branch.

[2017-06-23 05:52] #12 closed

[2017-06-23 11:17] paw1 commented on #11
Hi @bfwg , I'm running chrome 59 on windows 10. I'm using ng2-admin template to build my webapp. I also found that setting scrollbar-hidden to true messed up my page (snapshot attached).

1. With scrollbar-hidden = TRUE :  (notice the extra container div that is applied just outside of the div with drag-scroll)

Code :
<div id="kanban-board" drag-scroll [drag-scroll-disabled]="disabled" [scrollbar

[2017-06-24 18:33] bfwg commented on #11
In `<div id="kanban-board" drag-scroll [drag-scroll-disabled]="disabled" [scrollbar-hidden]="false">`, have you declared `disabled` and `false` in your component class? If not, it should be written this way.
`<div id="kanban-board" drag-scroll drag-scroll-disabled="disabled" scrollbar-hidden="false">`
*note: no square brackets.

[2017-06-25 23:04] #9 closed

[2017-06-26 03:06] bfwg opened #13 "Travis test fails"
The build is currently failing on Travis

[2017-06-26 07:06] paw1 commented on #11
Hi @bfwg , I have indeed defined a boolean variable 'disabled' in the component class. As for scrollbar, i think you we need to define "false", but I went ahead and changed it to ```[scrollbar-hidden]="scrollHidden"``` and defined a boolean variable scrollHidden.

I have a suspicion that the problem lies somewhere near  the extra container div that is applied just outside of the div with drag-scro

[2017-06-26 08:37] azhivaeva-bmt opened #14 "Error with disabled nav"
When I use our drag scroll with disabled nav, if I redirect to another page, I catch exception
![image](https://user-images.githubusercontent.com/26054907/27531092-11599670-5a64-11e7-8be1-e19e7975916f.png)
Please, correct it

[2017-06-26 18:12] bfwg commented on #14
Fixed in #15

[2017-06-26 18:12] #14 closed

[2017-06-26 18:12] bfwg commented on #13
Fixed in #15

[2017-06-26 18:12] #13 closed

[2017-06-27 00:50] fferrara opened #16 "Not able to select form elements inside scrollable div"
I've the following code

    <div class="editor-scroll"  drag-scroll>
      <div>
          <input type="text" [(ngModel)]="text">{{text}}
      </div>
    </div>

The drag-scroll directive doesn't allow me to select the textbox by clicking on it.

I tried this workaround and it works. Is it necessary to prevent the click events to propagate?

    onMouseDown(e: MouseEvent) {
        //e.preventDe

[2017-06-27 04:01] bfwg commented on #11
Hi @paw1 , have you applied any css on id "kanban-board"? What happen if you wrap "kanban" in another div like the below?
[code]
Or wrap kanban around a div like:
[code]

[2017-06-27 04:15] bfwg commented on #16
Hi @fferrara , thanks for reporting this.

[2017-06-27 04:29] #16 closed

[2017-06-27 14:00] fferrara commented on #16
thank you for the patch

[2017-06-27 14:59] bfwg commented on #16
@fferrara np

[2017-06-28 06:10] paw1 commented on #11
Hi @bfwg , let me get back to you in some time. Currently upgrading old code to support angular 4.

[2017-06-28 10:10] tommykamkcm commented on #10
hello @bfwg sorry for the long silence.

What I'm trying to do is actually apply the plugin to the `<ngb-tab>`, which will later be replaced by a `<ul role="tablist" ... >`
![image](https://user-images.githubusercontent.com/1722447/27631863-966fbd34-5c2c-11e7-8b5c-e345194888fc.png)

[2017-06-28 20:49] bfwg commented on #11
@paw1 no rush 😄

[2017-06-29 06:17] bfwg commented on #10
No worries @tommykamkcm , I see, you are trying to append the directive after the component is rendered. Let me try that tomorrow and I'll get back to you as soon as I can.

[2017-07-01 22:14] bfwg commented on #10
@tommykamkcm Sorry for the delay response. I have played with `ng-tab` a bit and I can't make it work without using some hack, like in your previous implementation.

So I'm blocked at this point...

[2017-07-04 22:41] bfwg opened #18 "Refine demo app."
- Fix incorrect layout for storm trooper demo.
- merge first two demo.
- Add some style for navigation button.

[2017-07-06 22:11] #18 closed

[2017-07-06 23:42] bfwg opened #20 "Demo app mobile view issue"
## Summary

As a user, I want to view the demo app page on mobile device properly.

## Requirement

Investigate and fix the issue.

[2017-07-07 05:11] tommykamkcm commented on #10
No worries @bfwg, everyone should relax as long as there is a hack and it works.

It would be also good if we could have a method that does the hack, in other words, dynamically apply the plugin to a DOM element!

Anyway, thanks again for your support! Really appreciate it!

[2017-07-10 13:15] jdjuan opened #21 "❤️️ Thank you! ❤️️"
This works out-of-the-box! Amazing! 😁

[2017-07-10 17:42] bfwg commented on #21
You are welcome @jdjuan ❤️ ❤️ ❤️

[2017-07-17 18:37] bfwg commented on #10
Hey @tommykamkcm , I'm working the `attach()` method in the plugin that does what you want:

It is almost done, would you like to review the Pull request once it is ready?
Sorry for the huge delay. 😞

[2017-07-25 18:04] tommykamkcm commented on #10
Hello @bfwg no worries, I really appreciate your help! Just read your code and everything looks good! Thanks again!

[2017-07-28 00:32] #10 closed

[2017-08-07 20:25] jdrake3 opened #23 "Missing metadata for aot compilation"
You appear to be missing the necessary metadata files to support aot compilation.
![missingmetadata](https://user-images.githubusercontent.com/1247320/29044341-0279f1aa-7b8d-11e7-9d80-b11310f09ade.png)

[2017-08-18 04:22] #23 closed

[2017-08-20 21:53] bobrinch opened #25 "Error using code"
I get this error, and all other javascript on my page halts:

"Ignored attempt to cancel a touchend event with cancelable=false, for example because scrolling is in progress and cannot be interrupted."

[2017-08-21 05:48] bfwg commented on #25
Hey @bobrinch , thanks for reporting this. Do you mid to share me with more information? Like a block of your code.

[2017-08-21 08:49] nachocoig commented on #20
First of all great job!

Any news about this issue? We have a app that uses your amazing component but no event works on mobile version.

[2017-08-22 03:30] bfwg commented on #20
Thanks @nachocoig! It means a lot to me knowing this project is helpful to others. I have just published v1.3.6, the mobile touch issue should get resolved. Please reinstall the package and give it a try.
However if it is still not working for you, please let me know and I'll try my best to fix it.

[2017-08-22 08:15] nachocoig commented on #20
Hello @bfwg! Thanks for posting a new version so fast. Now, your project works correctly, but, my project is broken when use your module. The problem is a click event. I think that your module captures all click events from my application and only drag works (my links is broken).

Google Chrome Developer tools says;

Very grateful for your attention.

Regards!

[2017-08-22 09:40] suresh2018 opened #26 "drag scroll not working in mobile view"

[2017-08-22 09:45] suresh2018 commented on #21
mobile view not woking

[2017-08-22 10:01] suresh2018 commented on #20
@nachocoig me too face this issue ..i am also using latest  v1.3.6.

[2017-08-22 10:19] nachocoig commented on #20
@suresh2018 Me too using v1.3.6.

At the moment, i disabled this module on mobile devices. If u want know if a determined device is mobile or not, u can use this line:

`  let isMobile = /Android|iPhone/i.test(window.navigator.userAgent);`

[2017-08-22 17:50] jdjuan commented on #21
@suresh2018 you can always create a PR 🙂

[2017-08-22 23:36] bfwg commented on #20
Thanks for the report @nachocoig @suresh2018.
I will investigate into this issue and get it fixed as soon as possible.

[2017-08-22 23:38] bfwg commented on #26
Relates to #20

[2017-08-23 00:50] bfwg commented on #20
Let us move the conversation to #26

[2017-08-23 00:52] bfwg commented on #26
The PR is up, I'm just going to review the code again and push a new version. Feel free to throw in any comments if you think there is something wrong in the PR code. @suresh2018 @nachocoig.

[2017-08-24 01:57] bfwg commented on #26
1.3.7 is out.

[2017-08-24 07:42] suresh2018 commented on #26
@bfwg

1.3.6 showed click cancel error but 1.3.7 not showing this error .
this version also  drag scroll not working .

[2017-08-24 07:47] suresh2018 commented on #26
![image](https://user-images.githubusercontent.com/30258184/29655367-8232450c-88ce-11e7-853f-203292f85300.png)

[2017-08-24 16:53] bfwg commented on #26
@suresh2018 It is working for me. Is drag scroll working for you on desktop view?

[2017-08-25 06:07] suresh2018 commented on #26
desktop working fine .but not moblie

[2017-08-25 06:09] bfwg commented on #26
Weird, can you show me a chunk of your carousel code? Have you tried on an actual device?

[2017-08-25 06:32] suresh2018 commented on #26
<div class="hideoverflow" drag-scroll  >
                <img *ngFor="let img of pic.images; let idx = index" [src]="img .Image"
                  class="scroll-images">
              </div>

[2017-08-25 06:35] suresh2018 commented on #26
div class="hideoverflow" drag-scroll

                img *ngFor="let img of pic.images; let idx = index" [src]="img .Image"
                  class="scroll-images"

              div

[2017-08-25 06:36] rahil051 commented on #26
Have you people tried the drag-scroll demo (in README.md) on touch devices ?

[2017-08-25 06:43] suresh2018 commented on #26
i will check let you know

[2017-08-25 06:47] suresh2018 commented on #26
@rahil

demo not work touch device

[2017-08-25 08:49] ikasparov opened #28 "warning "angular2-drag-scroll@1.3.7" has incorrect peer dependency "@angular/common@4.2.3""
there are peer dependency errora with angular 4.3.5

[2017-08-25 11:35] rahil051 commented on #26
@suresh2018 @bfwg I am using this lib in my Ionic 2 project. The scroll works fine for me, if I emulate on Chrome Dev Tools Mobile emulator, but there are few major problems I am having
1. The screen where drag-scroll is used, disables all click events on that screen
For example
[code]
2. [scrollbar-hidden]="true" removes the entire drag-scroll component from the screen (Ionic 2). "false" doesn't.

[2017-08-25 17:34] bfwg commented on #26
Hi, @rahil051
1. click event not firing is fixed in v1.3.7.
2. you need to either write `scrollbar-hidden="true"` or simply `scrollbar-hidden` for a fixed attribute. If you want to bind the attribute to a variable in your component, you need to write `[scrollbar-hidden]="flagVariable"` note when to use the square brackets.

For more information, please checkout https://github.com/bfwg/angular2-dra

[2017-08-25 17:37] bfwg commented on #26
@suresh2018 I failed to reproduce the touch issue on iPhone 6 Plus. I'm testing on the demo app. Can you clone this repository and do a `npm install && npm start` to startup the demo app on port `:4200`? You can use the Chrome devtool to check if it is working for you.

[2017-08-25 17:39] bfwg commented on #28
@ikasparov  thanks for reporting this, update dependency is in schedule. Does the error stop you from using the module?

[2017-08-25 17:40] bfwg commented on #25
Relates to #20

[2017-08-25 17:40] bfwg commented on #25
Resolved in #27

[2017-08-25 17:40] #25 closed

[2017-08-28 11:13] nachocoig commented on #26
Hello @bfwg, sorry for my late reply (I was in minivacations ;D)

I reinstalled your angular component demo and yes, it works in mobile version!
I have also tried using it into my app, and it works too!

Thanks for ur attention!

**Nice work!**

[2017-08-28 11:58] suresh2018 commented on #26
@nachocoig you checked in touch mobile devices?

[2017-08-28 12:12] suresh2018 commented on #26
Hi @bfwg,

finally , i find this issue .
need to set horizontal width then only it wil works

thanks ..

[2017-08-28 12:13] suresh2018 commented on #26
Hi @bfwg,
finally , i find this issue .
need to set horizontal width then only it wil works
thanks

[2017-08-28 17:53] bfwg commented on #26
Sweet, glad that worked for you guys. I can safely close this issue now.

Thanks for reporting this issue again!

[2017-08-28 17:53] #26 closed

[2017-08-31 12:59] sridharan31 opened #29 "Possible to add left and right button"
Possible to add left and right button

[2017-09-01 10:27] nidhi1612 opened #30 "not-responsive"
Hi,
First of all, i loved the drag scroll, was searching for something like this since long time.

Is there a way to make it responsive? as i wanted it to work smoothly on different size device, without scrolls.

[2017-09-02 05:25] bfwg commented on #29
Hi @sridharan31 , it is possible to add navigation buttons by applying `drag-scroll-nav` on your carousel container.

[2017-09-02 23:31] #30 closed

[2017-09-02 23:31] bfwg commented on #20
Resolved in #31

[2017-09-02 23:31] #20 closed

[2017-09-02 23:38] bfwg commented on #30
@nidhi1612 Thanks for reporting this, v1.3.8 is out.

[2017-09-05 11:00] nidhi1612 opened #32 "Doesn't work on mobile having kitkat"
Hi,

Thank you for your quick response and solving the issue of drag-scroll responsive behaviour. I am actually using drag-scroll in my ionic 3 app. (which uses angular 2 in the base). while i was testing it on android devices it worked like charm on lollipop and above OS versions. But app crashes for kitkat with below errors,
chromium: [INFO:CONSOLE(114671)] "Uncaught SyntaxError: Use of const in

[2017-09-07 02:29] bfwg commented on #4
I'm going to implement the snap functionality.

[2017-09-07 13:30] joejordanbrown commented on #4
@bfwg sounds good, will you be creating a custom implementation using mouse events to work across all browsers since Chrome still haven't got scroll snap? I created my own a while back, I'd have to see if I can find the code, I don't think I pushed it to GitHub.

http://caniuse.com/#search=snap

Also, it would be a good idea to refactor using [Renderer2](https://angular.io/api/core/Renderer2) and

[2017-09-07 17:42] matbalazsi opened #33 "production build: not working with UglifyJS"
Hello,
Is angular2-drag-scroll@1.3.8 compatible with angular4? I am getting the following error when building for production:

[code]

I have read that this error might be due to compiler options. Here are mine:

[code]

[2017-09-07 19:56] bfwg commented on #33
Hey @matbalazsi  thanks for reporting this, what is the build command that you are using?

[2017-09-07 19:57] bfwg commented on #32
Hi @nidhi1612 , This is very likely a compatibility issue. More investigation is needed.

[2017-09-07 20:20] bfwg commented on #4
@joejordanbrown Yes, this is a very good idea!
`this.parentNode` is used when we want to hide the scrollbar.
To hide the scroll bar, we need to create a new wrapper div and insert the div between the parent div and the carousel div.

For example:
This is a normal carousel
![image](https://user-images.githubusercontent.com/12819525/30182916-5afda62a-93cd-11e7-95ae-265ee1eb0368.png)

When we try to

[2017-09-08 01:17] joejordanbrown commented on #4
@bfwg

Thanks for great diagrams, it helped me visualise it without digging into the code too much.

I've created an example of how we can use a component with `<ng-content></ng-content>` so we can remove the need for `parentNode` and stick to a more Angular way of manipulating the dom using `Renderer2` so it will work with server side rendering and other environments that don't have direct DOM ac

[2017-09-08 09:32] bfwg commented on #29
#34 enables the functionality to add custom navigation buttons.
For example
[code]
Let me know if you have more question.

[2017-09-08 09:34] bfwg commented on #4
@joejordanbrown

The demo looks amazing!
#34 is in, give the snap functionality a try!

Looking forward for your refactor PR.

[2017-09-08 17:53] joejordanbrown commented on #4
@bfwg

Thanks. I've just taken a look, it looks great. I found one bug though when you drag to the end it snaps back to the first one in view.

I'll get to work on refactoring it over the weekend. I'll also create a demo using server side rendering and service workers and upload to my server to show a server side rendering example.

Should I include the server side code in the main demo and add it

[2017-09-08 19:27] bfwg commented on #4
@joejordanbrown Sounds good, looking forward to it.
I'm not sure if that is a bug as drag will always try to snap to the left most item in the view by default.

There are definitely more work that needs to be done for the snap functionality.

[2017-09-08 22:29] joejordanbrown commented on #4
@bfwg

My thought that scroll snapping would snap to the side that you're scrolling to. So if you drag left to scroll right it would snap on the right side of the inner elements and vice versa. I think that's a more natural feel with the user experience. I would be interested to check if that's how the scroll snap spec is described for browsers to implement. I'll do some research to see how they t

[2017-09-09 06:53] #29 closed

[2017-09-09 06:53] #11 closed

[2017-09-10 02:55] bfwg commented on #4
@joejordanbrown

Thanks for the clearfication!

Definitely we want to utilize Renderer as much as possible to make this library more "Angular".

Do you know if angular universal works on other backend frameworks like spring?

[2017-09-11 17:36] bfwg commented on #4
@joejordanbrown
I have fixed a few bugs in #35

[2017-09-11 20:58] joejordanbrown commented on #4
@bfwg

I've worked through a lot of the code and refactored it nearly all to use the renderer2 where possible. I've changed how it's now a component and using `ng-content`, It uses a directive for `@ContentChildren` for the snap steps. That all works fine. I'm now going through the code adding `isPlatformBrowser` and `isPlatformBrowser` where necessary to be SSR compatible. Once I've tested that i

[2017-09-12 15:08] matbalazsi commented on #33
I using generator-angular-fullstack@alpha, but upgraded to Angular4
[https://github.com/angular-fullstack/generator-angular-fullstack](url)

The command I am using is gulp build, which uses webpack@1.15.0.

[2017-09-12 22:26] bfwg commented on #4
@joejordanbrown

Thanks for the reference, I use spring-boot for work. I'm an express fan, but I also use spring for one of my projects' backend.

There must be a lot refactor code changes that you have go through. Can't wait to review your work!

[2017-09-13 00:10] bfwg commented on #33
I see, have you tried [Angular CLI](https://github.com/angular/angular-cli)? It is the official tool for generating starter projects. You can copy the **server** folder from `generator-angular-fullstack` and integrate with the project generated by the CLI.

[2017-09-17 02:08] bfwg opened #40 "Rename the library."
## Details

The name `angular2-drag-scroll` is a bit outdated since how angular2+ are simply called angular and angular1.x are called angularjs.

[2017-09-17 02:09] bfwg opened #41 "Build System rework"
## Details

As pre @joejordanbrown

We definitely need to look into how we can make the build system better.

[2017-09-19 10:59] JurJean opened #42 "Scroll with right mouse button"
I want to be able to only scroll using right mouse button (or double touch on mobile) but I'm not able to find how to configure this.

How would I achieve this? Or is this not supported?

[2017-09-19 16:21] bfwg commented on #42
Hi @JurJean

Unfortunately, scroll using right mouse button is **not** supported at the moment.

[2017-09-28 15:22] alucardu opened #44 "Any chance of seeing a value?"
I want to use the drag-scroll component to display a certain value. Like the primeng slider does > https://www.primefaces.org/primeng/#/slider. Is there already something like that available if not, can I request it?

[2017-09-30 09:23] MSkraburski opened #45 "scrollbarHidden not working"
Hi, I've been using your files since yesterday but cannot overcome an issue concerning hidden scrollbar. Can you help ? Would be extremely grateful. Here is a part of  code:

        <div class="demo-one"
             drag-scroll
             [scrollbar-hidden]='true'
             (leftBound)="leftBoundStat($event)"
             (rightBound)="rightBoundStat($event)"
             #nav

[2017-09-30 09:26] MSkraburski commented on #45
I'll just add that the button actions work properly.

[2017-09-30 17:53] bfwg commented on #45
Hi @MSkraburski , have you tried setting a height for the image container? Like:
[code]

[2017-09-30 17:56] bfwg commented on #44
Hi @alucardu, Thanks for the idea. This library only focus on the carousel aspect. Sliders in my opinion is a different topic and should not be covered in this library.

[2017-09-30 17:56] #44 closed

[2017-09-30 17:57] bfwg commented on #33
@matbalazsi

Any luck?

[2017-09-30 17:57] #32 closed

[2017-10-02 07:28] bfwg commented on #28
Resolved in #46

[2017-10-02 07:28] #28 closed

[2017-10-02 16:02] #42 closed

[2017-10-03 11:14] MSkraburski commented on #45
Well it turned out this plugin is deprecated in Angular 2 therefore I could not get the functions I wanted. Cheers

[2017-10-03 15:43] bfwg commented on #45
Yes, the current library angular version is 4.3.6. Thanks for reporting this.

[2017-10-03 15:43] #45 closed

[2017-10-06 10:54] zz-mike opened #48 "Doesn't work on touch devices."
Hello,
seems that scroll by drag doesn't work on touch devices.
Is it a bug or just a limitation?

[2017-10-06 14:07] suresh2018 commented on #48
It's working good for me..also mobile

On Oct 6, 2017 4:24 PM, "zz-mike" <notifications@github.com> wrote:

[2017-10-06 20:13] bfwg commented on #48
Hey @zz-mike
Can you provide more information and possibly a code block?

[2017-10-06 21:48] augustbend opened #49 "Sample code using drag-scroll in parent component to scroll children"
I'd like to implement something along these lines:

---Angular Template---
[code]
---Browser Render---
[code]

I think I must apply the plugin to a DOM element, hence use the @tommykamkcm code, but it does not work. Is there any sample implementations that I can use as reference for this? Or can you give me some suggestions on how to proceed?

Thanks

[2017-10-06 22:14] bfwg commented on #49
Hi @augustbend

The fastest way for me to know what is going on is to run your code.
Can you fork this repository and append the `app-card` (with the needed library) to the demo app. Paste the link here after you are done and I can take a closer look.

Thanks.

[2017-10-06 22:14] #33 closed

[2017-10-09 15:04] santialbo opened #50 "Allow to not snap to current child"
Could you add an option to disable snapping to the current child?
The way we were using it this directive is with a big element that contained everything. The fact that we only have one child makes this directive go to the start everytime we scroll.

[2017-10-10 03:22] bfwg commented on #50
Hi @santialbo

Like a `snap-disabled` attribute that disable snap functionality for all children?

[2017-10-10 08:56] santialbo commented on #50
Yes, I don't mind and long as I'm able to disable the feature (which I think it's cool, it's just that it doen't work on my case).
Thanks a lot for the good work and for open sourcing it :)

[2017-10-11 05:46] bfwg commented on #50
@santialbo
You are welcome, I have published 1.4.1 which introduces the `snap-disabled` attribute.

[2017-10-11 15:54] Nahask opened #52 "multiple elements"
Hi,

First of all thank's for your great work : ).

I'm currently trying to implemente multiple elements within the drag-scroll div like this
![image](https://user-images.githubusercontent.com/7364650/31451532-a55e5a9e-aeac-11e7-97da-e327a78d5149.png)
but when i'm doing this, a new line is created for each new element instead of being on the same row
I got this result (i raised the height so you c

[2017-10-11 16:05] Nahask opened #53 "multiple elements"
Hi,

First of all thanks for your great work :).

I'm currently trying to pu multiple elements within the drag-scroll div doing like this
![image](https://user-images.githubusercontent.com/7364650/31452163-6fe7c164-aeae-11e7-97ef-8c0d89330be1.png)
but when i'm doing this, instead of being on the same row, each elements is on is own row
and i got this result (i raised the height so you could  see)

[2017-10-11 16:19] #52 closed

[2017-10-11 16:19] Nahask commented on #52
Double post my bad

[2017-10-11 17:18] bfwg commented on #53
Hi @Nahask ,

The image element has a predefined [dimension](https://github.com/bfwg/angular2-drag-scroll/blob/develop/demo/app/home/home.component.css#L11). You need to set the width and height of your children elements.
For example.
[code]

Best Regard

[2017-10-11 20:04] Sprauch opened #54 "Prevent click propagation immediately after drag and drop"
I was wondering if anyone had an issue with click event being fired after drag and drop?

My container is a huge list of images wrapped with links to a dedicated page.

Sometimes when the drag and drop is initiated on top of the image, the click event gets fired when releasing the mouse.

Is there an easy way to prevent this from happening?

I was thinking about adding a class no-click to the cont

[2017-10-11 22:44] Nahask commented on #53
ho ok thank you : ) i don't know how i missed that :x

[2017-10-11 23:41] bfwg commented on #53
Glad I can help 😄

[2017-10-11 23:41] #53 closed

[2017-10-12 01:04] bfwg commented on #54
@Sprauch
Thanks for reporting this issue, would you like to make a PR for this bug?

[2017-10-12 01:36] #50 closed

[2017-10-12 01:36] #49 closed

[2017-10-12 10:33] DarthPedroFerreira opened #55 "Compilation errors with strict"
Hi,
I'm getting some compilation errors with strict enable in tsconfig file.

    ERROR in [at-loader] ./node_modules/angular2-drag-scroll/src/angular2-drag-scroll.ts:177:5
        TS2322: Type 'string | null' is not assignable to type 'string'.
      Type 'null' is not assignable to type 'string'.

    ERROR in [at-loader] ./node_modules/angular2-drag-scroll/src/angular2-drag-scroll.ts:278:36

[2017-10-12 20:06] Sprauch commented on #54
Nah, I'm still a little too new at this. Began developing in Angular less than 18 months ago and joined GitHub yesterday ;)

[2017-10-13 17:12] bfwg commented on #55
Hi @DarthPedroFerreira

Thanks for reporting this. I'm planning to fix this as a part of #41 . With the new build system, we should be able to exclude the ts files and also working with strict mode.

[2017-10-13 17:13] bfwg commented on #54
No worries, I'll try to get it fixed when I have time.

[2017-10-14 13:33] akkumar opened #56 "Dependency on angular 4.4.x"
package.json has a hard dependency on ng 4.3.6 .

[code]
If that is not necessary to be specific to ng 4.3.6 - may be - it could be more relaxed with a ^ prefix.

Any known issues preventing integration with ng 4.4.x  ?

[2017-10-14 18:18] bfwg commented on #56
Not that I know of. Yes, we can change it to use `^` prefix.

[2017-10-16 11:30] joejordanbrown commented on #4
@bfwg

Sorry for the very late reply. I've been away and not had internet access.

I will refactor them changes urgently this week and push them so we can move forward with this.

[2017-10-16 13:09] joejordanbrown commented on #40
We should have a vote on names, I recommend either `angular-drag-scroll` or `ngx-drag-scroll`.

[2017-10-16 18:18] bfwg commented on #40
I like them both. Since this library is essentially a carousel, should we add the word `carousel` or something similar as a part of the name as well? It's hard to keep the name short and intuitive. 😄

[2017-10-16 18:22] bfwg commented on #40
Actually, I'm fine with either `angular-drag-scroll` or `ngx-drag-scroll`.

[2017-10-16 19:38] bfwg commented on #4
@joejordanbrown

No worries, I'm pretty busy the past few weeks as well.

[2017-10-20 18:23] deepanshu203 opened #61 "Unsupported event target undefined for event mousedown"
Hi,

I am getting error - Unsupported event target undefined for event mousedown when trying to use this module at run time.
Has anyone else faced the same?

Thanks.

[2017-10-21 06:55] #56 closed

[2017-10-23 03:07] bfwg opened #66 "Release Version 2.0"
Hey @joejordanbrown,

I've created this issue to track the progress of release version 2.0. We should probably merge `v2-refactor` branch to `develop` branch. What do yo think?

[2017-10-23 17:55] joejordanbrown commented on #66
@bfwg

Yes that sounds like a good idea. Make sure you have merged everything from develop to master then merge this branch into develop. You might have to rework the branches first so you don't get conflicts about develop being ahead of this branch because it isn't You could always delete develop after the merge and then clone this branch name it develop branch and set as default. Once this devel

[2017-10-26 08:42] stuart-clark-45 commented on #54
Hey guys, I also have this issue, is there any progress with a fix / a work around?

[2017-10-27 06:12] akkumar opened #67 "Can we have a new version 1.4.4"
Can we have a minor release 1.4.4 that can pull in Issues #62 , #63 , #64 , #65 . ( Especially #64 ) to make sure versions are indeed in sync as we include in other projects as well.  It would be useful to have one. Thanks in advance.

[2017-10-27 16:52] bfwg commented on #54
Hey @stuart-clark-45

I'm working on the release for v2.0, hope this issue will go away by then. If not, I'll come back and fix it.

[2017-10-27 16:54] bfwg commented on #66
@joejordanbrown

Sorry for the late response. Yes, I'll create a PR sometime this weekend for merging v2-refactor back to develop.

[2017-10-27 17:03] bfwg commented on #67
Yes, sorry for the delay. 1.4.4 is published on commit db8244bbb613fc85928fe0aed20278df3ac60247. 🎉

[2017-10-27 17:03] #67 closed

[2017-10-27 17:04] bfwg commented on #61
Hey @deepanshu203 ,

It's working fine on my machine, can you give me more details on your browser version and OS please?

[2017-10-29 22:12] stuart-clark-45 commented on #54
@bfwg thats great thanks very much, really nice little library other than this bug. Do you have an idea on when you might release v2.0?

[2017-10-30 00:04] bfwg commented on #66
@joejordanbrown

I have prepared a PR for 2.0 release merge. Can you review it when you are free? I also let a small question in the PR's comment. Thanks!

[2017-10-30 00:05] bfwg commented on #54
@stuart-clark-45

No problem, the progress of 2.0 can be tracked in #66 #68 .

[2017-10-30 10:50] stuart-clark-45 commented on #54
@bfwg Awesome looks like you are well on top of things thanks very much :thumbsup:

[2017-10-31 15:05] Bidthedog commented on #48
I've ran into this too. I expect "touchstart" and "touchend" need to be implemented as well as "mouseup" and "mousedown" to support mobile / touch devices.

Suggest adding the touch events [here](https://github.com/bfwg/angular2-drag-scroll/blob/db8244bbb613fc85928fe0aed20278df3ac60247/src/angular2-drag-scroll.ts#L144)

"click" can't be used as the component uses three states, so there'll be a lit

[2017-10-31 19:10] bfwg commented on #48
Hey @Bidthedog

Thanks for reporting this. The scroll event on a device is equivalent to drag event on a browser. We could add a onTouch listener to the library, but that is just going to overlap with the default scroll event on devices.
Are you able to scroll your carousel view on a device? If so, you should be able to drag it.

[2017-11-01 11:25] Bidthedog commented on #48
The only way I can scroll on a mobile device is by calling `moveTo`, `moveLeft` or `moveRight`, swiping or press+drag doesn't move the carousel at all. The same behaviour occurs in Chrome DevTools mobile, so I've been able to record a gif demonstrating how I'm using it:

![angular2-drag-scroll](https://user-images.githubusercontent.com/1425696/32272662-f9c276ec-bef6-11e7-94b6-7a983248770e.gif)

We

[2017-11-01 11:41] Bidthedog commented on #48
Well, that's interesting. I just removed my custom CSS and it works. Which leads me to what I believe is the real issue: the `scrollbar-hidden` directive doesn't seem to actually remove the scrollbar. Inspecting the generated HTML, it seems that the directive is duplicating the component root:

[code]

I'm using the #tech-list selector in my CSS to add margins to the carousel - so my margins are d

[2017-11-01 11:51] Bidthedog commented on #48
OK, I added the container, but I'm still getting scroll bars. The generated HTML looks like this:

[code]

Seems that `overflow: hidden` is added to the first component element, but the newly generated child has `overflow: auto`?

[2017-11-01 12:09] Bidthedog commented on #48
Last bit of info - I can "hide" the inner scrollbar with the following CSS, but this disables touch / swipe actions:

[code]

So there are potentially two issues that confuse the "touch screen" issue here:

1. The `id` attribute shouldn't be duplicated when `scrollbar-hidden` is used (not valid HTML, and this confuses CSS when using an id selector).
2. The scrollbar doesn't seem to hide properly w

[2017-11-02 13:13] marayfirth opened #69 "DragScrollModule fails to load with angular cli 1.5.0"
After upgrading to Angular 5.0 and Angular CLI 1.5, I get an error with ng serve.

[code]
Version of angular2-drag-scroll: 1.4.4

Might be related to this one : angular/angular-cli#8263
I reproduce when not setting aot though.

[2017-11-03 00:29] MonasteryJohn commented on #69
Seems to be related to https://github.com/angular/angular-cli/issues/8284 due to ts files being in the dist. Many people are having this issue with lots of packages after the upgrade to angular5.

I've been able to work around this for now by modifying my src/tsconfig.app.json to have the files the compiler is complaining about the in the "includes" array. If you check the link they recommend agai

[2017-11-03 17:17] bfwg commented on #48
Hey @Bidthedog ,

The duplicate wrapper container is expected. To hide the scroll bar, we need to create a new wrapper div and insert the div between the parent div and the carousel div.

For example:
This is a normal carousel
![image](https://user-images.githubusercontent.com/12819525/30182916-5afda62a-93cd-11e7-95ae-265ee1eb0368.png)

When we try to hide the scrollbar, there is no magic! We simp

[2017-11-06 01:56] Fryk commented on #61
Hey after some break on my project I found out I have same problem.
On server everything runs well, but after running webpack in intellij locally thsi error is up.
I didn't run npm install or changed version.
OS: Win10, tested on:
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.83 Safari/537.36 Vivaldi/1.91.862.6

[2017-11-06 08:29] Bidthedog commented on #48
@bfwg Much appreciated for the detailed explanation - I figured it was something like that after I noticed that overflow: auto adds scrollbars when scrolling.

I'll check my CSS and see what I've done wrong :)

[2017-11-06 09:12] Bidthedog commented on #48
For anyone else experiencing the same issue, all I was missing was the forced height on the drag-scroll element:

[code]

I still believe there is an issue with the `id` attribute being duplicated for the generated div, as it produces invalid HTML.

[2017-11-10 20:08] bfwg commented on #69
1.4.5 is out with the fix. Thanks guys!

[2017-11-11 00:24] MrSnappingTurtle opened #72 "Does not compile on latest @angular/cli"
Hi, I created a new project with the 1.5.0 version of `@angular/cli` (`ng new angular2-drag-scroll-test`). I then installed the 1.4.5 version of `angular2-drag-scroll` (`npm i --save angular2-drag-scroll`). I imported it into `app.module.ts` and ran `ng serve`. However, it doesn't compile with the following error:

[code]

Apologies in advance if this issue is better suited to be posted on the `@a

[2017-11-11 12:44] marayfirth commented on #72
Same for me. I thought it would have been fixed with #69

[2017-11-11 19:52] akkumar opened #73 "Versioning of releases - major / minor"
First of all - thanks a lot for getting ng5 #70 and #71 branch onto master and cutting a new release - 1.4.5 .

Couple of suggestions though:

* Given the major upgrade from ng dependency 4.x to 5.x - may be, we can simply call it 1.5.0 or something similar, to signify the same. (1.4.4 -> 1.4.5 does not convey the nature of changes made under the hood - sounds too innocent before it bombs on the u

[2017-11-13 01:00] bfwg commented on #73
@akkumar Agreed, that totally make sense to me.

[2017-11-13 01:03] bfwg commented on #72
@akkumar ^^^ thoughts?

[2017-11-13 07:28] #48 closed

[2017-11-13 07:29] #21 closed

[2017-11-13 07:36] bfwg commented on #72
I can't seem to reproduce, I'm on a Mac(CLI version: 1.5.0). I'm able to run `ng serve` with no error after `npm run clean && npm install`.

[2017-11-13 08:33] akkumar commented on #72
Ignoring the .ts while packing, while still including .d.ts seems to do the job. More details in #75 .

It would be great if we get a 1.5.0 with this.

[2017-11-14 05:49] akkumar commented on #72
@MrSnappingTurtle - I have put in a fix here at #75 .

It would involve pointing angular2-drag-scroll to the following:
[code]

Can you help check if that fix works and report issues if any ?  Thanks in advance

[2017-11-14 05:50] akkumar commented on #69
@marayfirth  - I have put in a fix here at #75 .

It would involve pointing angular2-drag-scroll to the following:
[code]

Can you help check if that fix works and report issues if any ?  Thanks in advance

[2017-11-14 07:57] marayfirth commented on #69
@akkumar it seems ok on my side with this version.

[2017-11-14 10:40] akkumar commented on #69
@marayfirth - Thanks for confirming. Also to help - can you add your npm version and node version, in which this works ?

@bfwg - May be - we can just cut a release 1.5.0 with the PR #75 and debug it later if needed :)

[2017-11-14 17:07] MrSnappingTurtle commented on #72
@akkumar Just tried it out, works great!

[2017-11-14 17:53] bfwg commented on #72
1.5.0 is published!
@MrSnappingTurtle @marayfirth Thanks for your input.
@akkumar Thanks for the awesome work.

[2017-11-14 17:53] #72 closed

[2017-11-14 17:57] bfwg commented on #69
1.5.0 is out with #75 , thanks guys!

[2017-11-14 17:57] #69 closed

[2017-11-15 08:13] alonstar opened #78 "Cannot find module 'angular2-drag-scroll'"
After installing angular2-drag-scroll, I can see angular2-drag-scroll directory under node_modules, but I can't import module from angular2-drag-scroll.

It tells me that Cannot find module 'angular2-drag-scroll'

I'm using Angular 5.0

Please help me, thank you.

[2017-11-15 09:04] marayfirth commented on #78
Indeed, there are missing .d.ts and js files in the published npm.

[2017-11-15 12:50] aziz-haddad commented on #78
same issue here

[2017-11-15 14:44] yluijten commented on #55
@bfwg
Has there been any progress concerning this issue?

[2017-11-15 14:48] yluijten opened #79 "Compilation error - Not part of the compilation output"
Since I've upgraded to `Angular 5.x` I get the following error when building my project:

`Module build failed: Error: ..\node_modules\angular2-drag-scroll\src\angular2-drag-scroll.ts is not part of the compilation output.
`

Does the project support the latest version of Angular?

[2017-11-15 14:56] akkumar commented on #73
closing this issue as already addressed in #74

[2017-11-15 14:56] #73 closed

[2017-11-15 14:57] akkumar commented on #78
does the issue persist with this release ?

[code]
if so - can you let know the node and npm version as well.

[2017-11-15 14:58] akkumar commented on #79
does the issue persist with this release ?

[code]
if so - can you let know the node and npm version as well.

[2017-11-15 15:03] marayfirth commented on #78
Yes, I upgraded to this version earlier today and I got the failure at this time. Occuring with node 6.11.0 and npm 5.5.1

[2017-11-15 15:07] yluijten commented on #79
Thanks, @akkumar.

I upgraded to the latest version, but another error appears. It looks like the `DragScrollModule` is gone. Unable to import it.

[2017-11-15 15:18] akkumar commented on #79
@yluijten - npm / node versions ?

[2017-11-15 15:27] akkumar commented on #78
seems like index.d.ts and angular2-drag-scroll.d.ts are missing from the release ?

May be - a missing 'npm prepare' before the release process as the prepare process generates the .d.ts files as reported missing here in the following tree ?

cc @bfwg .

[code]

[2017-11-15 15:28] akkumar commented on #79
Issue #78 - similar issue. see details.

[2017-11-15 17:19] bfwg commented on #78
@akkumar Looks like I was using npm@3.x while doing the publish command. Version 1.5.1 is out with the re-publish. Let me know if this fix the issue.

[2017-11-15 18:20] bfwg commented on #55
@yluijten I've just made a PR regarding this issue. Do you want to run a test using #80 and see if that solves the issue?

Thanks for your patient!

[2017-11-15 18:22] bfwg commented on #79
1.5.1 should resolve this issue.

[2017-11-15 18:24] bfwg commented on #4
@joejordanbrown I'm going to close this issue since the refactor ticket is in.

[2017-11-15 18:24] #4 closed

[2017-11-15 18:26] bfwg commented on #61
Thanks for the report guys, is this issue still present on version 1.5.1? If yes, can you give me the steps to reproduce?

[2017-11-16 07:31] yluijten commented on #79
@akkumar, @bfwg
Version 1.5.1 resolved the issue. Thanks.

[2017-11-16 07:44] marayfirth commented on #78
@bfwg it looks fine now

[2017-11-16 08:23] bfwg commented on #79
Fantastic.

[2017-11-16 08:23] #79 closed

[2017-11-16 08:23] bfwg commented on #78
Great, closing now. Thanks again for reporting this.

[2017-11-16 08:23] #78 closed

[2017-11-20 08:31] akkumar commented on #40
ngx-drag-scroll seems more appropriate.

But seems like - https://github.com/QuentinPetel/ngx-drag-scroll , a fork of this project already has that name though ( see: https://www.npmjs.com/package/ngx-drag-scroll ) .

[2017-11-21 08:21] bfwg commented on #40
That is too bad. I feel `ngx-drag-scroll-all` is a bit too long. It doesn't seem to make much a difference compare`angular-drag-scroll` vs now.

[2017-11-21 10:04] yluijten commented on #40
`ngx-draggable-scroll`?

[2017-11-21 10:40] akkumar commented on #40
Well - the other thing is to negotiate with the fork owner and try to get the name ngx-drag-scroll though - as that seems the most appropriate.

[2017-11-21 17:23] bfwg commented on #40
@yluijten that is a good name, my concern is that this name does not align with the directive name of the library which is `drag-scroll`.

@akkumar I've sent an email to the owner of `ngx-drag-scroll`, hoping that he can feel up the name.

[2017-11-22 14:37] QuentinPetel commented on #40
Absolutely for ! I made the fork for that purpose. I will delete it, as well as the npm packages.

[2017-11-22 14:50] QuentinPetel commented on #40
Github repo deleted, npm package transfered.

[2017-11-22 19:56] bfwg commented on #40
@QuentinPetel Thank you so much. You made my day!

[2017-11-22 20:39] #40 closed

[2017-11-22 22:30] bfwg commented on #40
@akkumar I've updated the project name on Github as well as NPM. Can you test the new changes on your machine? I want to make sure everything still works with the new name and everything.

What is your npm username? I can add your name to this project on NPM if you like.

[2017-11-23 08:14] akkumar commented on #40
Works fine.

Did the following changes.
[code]
[code]
So - far so good.

My npm username is akkumar .

[2017-11-24 18:44] #55 closed

[2017-11-28 20:44] kitsh opened #89 "Package.json listed as dependency"
https://github.com/bfwg/ngx-drag-scroll/blob/develop/package.json#L81

I believe this is causing this error when publishing as a dependency
npm ERR! argv "/usr/local/Cellar/node/5.9.1/bin/node" "/usr/local/bin/npm" "publish"
npm ERR! node v7.4.0
npm ERR! npm  v4.0.5
npm ERR! code EISDIR
npm ERR! errno -21
npm ERR! syscall read

npm ERR! eisdir EISDIR: illegal operation on a directory, read
npm ERR

[2017-11-28 22:36] #89 closed

[2017-11-29 00:00] bfwg commented on #89
Thanks for reporting this @kitsh ! I've fixed this in the latest release 1.5.4.

[2017-11-29 11:30] piotrFalkowskiIt opened #92 "Remove misguiding information about supporting Angular 2+"
Please remove missugind information about supporting Angular 2+.
Using newest version (>1.2.7) in Angular2 project cause compilation error
`...@angular/core/index"' has no exported member 'Renderer2'.`

[2017-12-01 05:12] #92 closed

[2017-12-01 05:13] bfwg commented on #92
@piotrFalkowskiIt Thanks for the heads up.

[2017-12-19 07:03] akkumar opened #95 "Install commitlint"
Most of the popular projects ( including Angular/* ) use a commitlint style of project to format the commits better ( distinguish between fix / feat etc. ) that comes in very handy during release logs.

More details at:
http://marionebl.github.io/commitlint/#/guides-local-setup .

would be useful to have it injected in the project for better commit quality.

[2017-12-19 13:28] bfwg commented on #95
Great idea, I have put up a PR for this. Do you want to review it?

[2017-12-19 19:12] #95 closed

[2017-12-21 15:22] wojofe opened #99 "Stepped scrolling"
Hey there!

I have noticed that invoking moveLeft() and moveRight() snaps the carousel to weird locations, sometimes even going backward, when the contents of carousel differ in width.

Kind regards!

[2017-12-22 18:18] bfwg commented on #99
Hi @wojofe , thanks for report this. Can you give us an usage example or a code snippet?

[2017-12-23 23:57] wojofe commented on #99
Sure, I pushed a minimal tracer angular project here: https://github.com/wojofe/ngx-drag-scroll-stepping-demo/

Does this explain the problem to you?

[2017-12-25 02:27] #99 closed

[2017-12-25 02:29] bfwg commented on #99
Nice, I have made a fix in #102 . Version 1.6.3 should resolve the issue. Happy holidays.

[2017-12-27 13:14] montijr2007 opened #105 "scrollbar-hidden doesnt work with containers"
I was having an issue using a complex element inside of my dragScroll, namely a Material Design Card. I was unable to get the scrollbar-hidden to work for the horizontal scroll bar and had to forcefully remove it by wrapping my dragScroll in a container with overflow-x hidden, like so:
`<div overflow-x: hidden !important;> <div dragScroll scrollbar-hidden="true" [more stuff here]></div></div>`

Th

[2017-12-27 20:16] bfwg commented on #105
Closing as this is no longer an issue.

[2017-12-27 20:16] #105 closed

[2017-12-28 15:35] montijr2007 commented on #54
I dont know if this is related, but I cannot select text on any of my angular apps using mouse-down and highlighting the text. This happens after importing the DragScrollModule. I went to the demo page and verified text-selection is also not working  on that page at all either.

The only way to select text right now, anywhere on the page, is by using mouse double click and the keyboard to highligh

[2017-12-28 16:19] MNorgren opened #106 "mouseMoveListener affecting entire document"
After some investigation, I have found that the mouseMoveListener is preventing "text selection" on any part of the document.

I've modified the directive slightly to enable the text-selection outside of the native element changing the onMouseMove return statement to:
`return !this.isPressed; //Only return false if the element was pressed, otherwise return true`

See the full function:

      onMo

[2017-12-30 06:30] #106 closed

[2017-12-30 06:30] bfwg commented on #106
Should be fixed in 1.7.2.

[2018-01-02 05:56] wojofe commented on #99
Thanks for the fix and same to you.

[2018-01-03 13:10] NikhilRadadiya opened #108 "Metadata version mismatch for module"
[code]

I have beent trying to use `ngx-drag-scroll` but getting above error.

[2018-01-04 10:55] Satish-Lakhani commented on #108
Facing the same issue with angular 4.4.6

`ERROR in Error: Metadata version mismatch for module /node_modules/ngx-drag-scroll/index.d.ts, found version 4, expected 3, resolving symbol AppModule in app.module.ts, resolving symbol AppModule in app/app.module.ts`

[2018-01-04 22:16] bfwg commented on #108
This is due to Angular version mismatch. Update Angular version to `5.x.x` should resolve the issue.

[2018-01-07 23:07] wojofe opened #109 "Positioning after moveLeft()/moveRight()"
Hey again!

When invoking moveLeft() or moveRight() after dragging a bit with snap-disabled="true" the jump goes to the wrong position, seemingly the position before dragging.

Kind regards!

[2018-01-08 09:10] bfwg commented on #109
Hey @wojofe
Thanks for reporting this. I've made a PR and investigating into this.

[2018-01-09 21:01] hesampour opened #111 "angular 5 and universal support"
Dose this module work in angular 5? I tried a lot but i cant get this package work for my angular 5 project?
and if I get the module work can i use it with angular universal?

[2018-01-10 11:36] akkumar commented on #111
@hesampour  - if it is not working with ng5 - can you share error log  as applicable ?

Issue #68 talks about ng universal but it is not in yet.

[2018-01-11 16:53] wojofe opened #113 "Some other components/listeners no longer receive certain mouse events when dragscroll is present"
Title says it all.

Debugging revealed these listeners to be at fault:
[code]

The events are not handed down to other components as they are prevented at the document level.

[2018-01-12 09:09] akkumar opened #114 "Release process"
The releases page - https://github.com/bfwg/ngx-drag-scroll/releases does not contain the recent releases. (not the 1.6.x or the 1.7.x ).

@bfwg  - Just curious what the release process looks like.

Suggested one is here - https://help.github.com/articles/creating-releases/ .

Assuming the commits are merged from develop to master and the release is made from master, the releases for the project s

[2018-01-12 19:37] bfwg commented on #114
The commits are merged from develop to master and then an npm publish is released from master. I have been ignoring GitHub releases, and you are right, we should come up with a GitHub release flow.
I suggest we start tagging them. Every npm version should have a git tag, and maybe whenever there is a major release version, we include the changes from the CHANGELOG.md?

[2018-01-12 19:39] #108 closed

[2018-01-12 19:39] bfwg commented on #108
Closing this for now, let me know if you have more question and I can re-open this.

[2018-01-12 20:19] bfwg commented on #114
I've just pushed the tag for 1.7.3

[2018-01-13 16:31] akkumar commented on #114
I agree we should start tagging every release.

I was under the impression that the github release process would automatically tag the release as well.

If that were the case - we can easily create changelog to every major / minor release just by using the git log command.

[code]

So -the changelog would become redundant that way.

[2018-01-14 21:23] akkumar commented on #114
I am looking at the changelog for angular-cli project ( say, for example ).
https://github.com/angular/angular-cli/releases .

Seems sort of concise and seems auto-generated / pasted when a release is being made.

We can always expand the information based on the commits we have as you had illustrated above.

But if appropriate tagging has been done - we can possibly create the changelog dynamical

[2018-01-15 06:44] bfwg commented on #114
The 1.7.3 tag is created manually, and if I click create a release, the content is empty which means we still have to draft them ourselves.

[2018-01-15 06:56] neerajnarayanan opened #115 "Metadata version mismatch"
i have updated ng2-dragscroll to ng-x dragscroll.but after updating i got the below errors.
ERROR in Error: Metadata version mismatch for module /home/neeraj/Desktop/InsuranextWeb/insuranext-web/insuranext-web/node_modules/ngx-drag-scroll/index.d.ts, found version 4, expected 3,resolving symbol AppModule in /home/neeraj/Desktop/InsuranextWeb/insuranext-web/insuranext-web/src/app/app.module.ts, res

[2018-01-15 15:48] akkumar commented on #114
Thanks @bfwg for the clarification.

This is not an 'issue' with the product per se. So closing it for now.

[2018-01-15 15:48] #114 closed

[2018-01-15 15:49] akkumar commented on #115
The project needs ng5+ .

[2018-01-15 19:47] bfwg commented on #115
Should we put the ng5+ requirement in the README.md?

[2018-01-15 19:55] akkumar commented on #115
@bfwg - Good idea. That should definitely help.

[2018-01-16 08:08] akkumar commented on #115
#116 adds the requirement explicitly

[2018-01-16 09:48] akkumar commented on #114
#118 - conventional-changelog could be used to generate the changelog dynamically. More details in #118 .

[2018-01-16 11:09] wojofe commented on #109
Behavior has changed now, but I see a new bug: Invoking moveRight() does not move the slider sometimes (moveLeft() always works). On my machine, with the example I am running right now, I get a repeatable pattern of 1,0,1,1,0,1 (1 slider moves one position to the right, 0 sliders does not move), i.e. 2 out of 6 clicks on my "right" button do nothing.

[2018-01-16 11:14] wojofe opened #119 "very slow and choppy drag in IE 11"
When using IE 11 dragging is very slow and choppy - and also causes some text to get selected (dragging creates a bit of an offset between the cursor position and the clicked on position in the dragscroll - and that offset ends up being selected (best seen with text)).

[2018-01-16 19:54] bfwg commented on #109
Hi @wojofe , I can't seem to reproduce the issue with the demo app. Can you replace https://github.com/bfwg/ngx-drag-scroll/blob/develop/demo/app/home/home.component.html#L4-L11 with the below code, and test again?

[code]

Thanks!

[2018-01-16 20:01] bfwg commented on #113
Hi @wojofe , I'm trying to reproduce by adding a `mousemove` event listener in the https://github.com/bfwg/ngx-drag-scroll/blob/develop/demo/app/home/home.component.ts#L37 , but I can't seem to reproduce it.

Can you give me a code snipped using the demo app?

Thanks.

[2018-01-16 21:31] wojofe commented on #109
I fear I do not understand what you want me to do.

In the meantime I noticed another thing: When I click left (i.e. invoke this.ds.moveLeft();) multiple times without waiting for the movement to end, the bar jumps to weird places also.

Also, if I do not encapsulate like this
[code]
I get
`ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 't

[2018-01-17 01:17] #115 closed

[2018-01-17 01:24] bfwg commented on #109
Hey, @wojofe . Could you fork this project and run the demo app with your breaking change? It is under the demo folder. This way, I can take a closer look of what is going wrong.

[2018-01-17 11:59] wojofe commented on #113
Just place a https://material.angular.io/components/menu/overview dropdown on the same page with dragscroll and then try to select something from it.

[2018-01-21 22:38] wojofe commented on #113
I have gone into it a bit deeper and it turns out it was another component/module that I tied to the material component that was affected. After swapping that one out for a simpler solution to problem no longer occurs, so unless other people also come up with problems regarding mouseevents not reaching their destination in the presence of dragscroll I would say this does no longer qualify as a bug

[2018-01-21 22:38] #113 closed

[2018-01-22 22:48] PraneethKP opened #120 "drag-scroll inside a list"
Hi,
       I am using drag-scroll inside a list, so the #nav tag is repeating. Because of that repetition the next and previous options are not working,, Please suggest some alternate or the exact way of usage in my case.

[2018-01-29 06:07] bfwg commented on #120
Hi @PraneethKP
Sorry for the late reply, have you tried to put the carousel with the navigation buttons in a separate component? This should make #nav encapsulated.

[2018-01-30 09:37] Sipike opened #121 "Highlight text is not working in Chrome"
Hi,
I'm using this module, but I cannot highlight text where ngx-drag-scroll is active.
You can check this out on Demo page.

**Chrome version**: 63.0.3239.132
**OS**: macOS High Sierra 10.13.3

[2018-01-30 22:35] bfwg commented on #121
Hi, have you tried with the latest version `1.7.3`? The issue should be resolved. The demo page is outdated and I will update it shortly.

[2018-02-11 06:31] STIKO commented on #54
I solved this by using (reachesLeftBound) to figure out if it's being dragged to prevented the click.
Add (reachesLeftBound) to your dragScroll
`<div dragScroll [scrollbar-hidden]="true" (reachesLeftBound)="leftBoundStat($event)">`
Add mouse events to your div etc.
`<div (mousedown)="down()" (click)="fire()">`
In your component.ts add the following
`click = false;
leftBoundStat(event: any): void {

[2018-02-13 20:08] bfwg commented on #54
Hi @STIKO , can give me a plunker link so that I can take a closer look?

[2018-02-14 00:29] STIKO commented on #54
I couldn't make it work in plunker since I never done so.
I imported it in app.module.ts
`import {DragScrollModule} from 'ngx-drag-scroll';`
Then I added it to `@NgModule` imports of the same file
`imports" [DragScrollModule];`
I'm assuming the above is correct as the drag is working.
Now in my component
[code]
Not sure if the `@Input()` is necessary. finally the template
[code]
Everything works j

[2018-02-14 01:57] bfwg commented on #54
Can you try to remove the div wrapper for the img tag and give them a width and height?
Something like below. See if that fixes the issue for you.
[code]

[2018-03-06 16:26] jtcrowson opened #122 "rightNavDisabled false after reaching end of carousel"
Steps to reproduce in demo app:
- Number of images in the `imagelist`: 5 images (done here: [Github Fork](https://github.com/jtcrowson/ngx-drag-scroll) & [Stackblitz](https://stackblitz.com/github/jtcrowson/ngx-drag-scroll))
- Browser window width: `1350px`
- Click the right button once to navigate the carousel to show the entire 5th image.

Bug:
- The 'right' button is still enabled despite there

[2018-03-06 19:30] jtcrowson commented on #122
After more research, this bug is fixed by removing `this.currIndex !== 0` in

[code]
->

[code]

The git blame says it was added by #46.

[2018-03-10 21:10] bfwg commented on #122
Thanks for reporting this issue @jtcrowson ! I will look into it as soon as possible.

[2018-03-10 21:25] #122 closed

[2018-03-10 21:35] bfwg commented on #122
Hi @jtcrowson , the issue should be fixed in 1.7.5. Thanks again for your effort. Please let me know if you want to reopen this issue.

[2018-03-12 05:01] sadaktx opened #124 "npm install ngx-drag-scroll@1.7.5 fails to install the module correctly"
With the latest changes, npm install does not download the ngx-drag-scroll.d.ts or .js or .j.map files and this breaks the ng build - failing to find ngx-drag-scroll module in app.module.ts.

[2018-03-12 08:22] johan-steffens opened #125 "Drag-scroll not working on Firefox Quantum"
On Firefox, when you try to drag-scroll (click and hold, then move mouse to the side), the image picks up, rather than scrolling the content.

When you release the mouse click the carousel is then in permanent "drag mode", where it drags around as you hover the mouse over it.

Picture to try and explain it:
![Picture](https://i.imgur.com/WT9UfRj.png "Picture")

Pictured above, I clicked on the R2D

[2018-03-12 16:28] bfwg commented on #124
@sadaktx Thanks for reporting, I'm looking into the issue.

[2018-03-12 16:52] #124 closed

[2018-03-12 17:22] bfwg commented on #124
Please update to 1.7.6, thanks!

[2018-03-12 17:51] sadaktx commented on #124
Thanks for the quick turn around to fix the issue!

[2018-03-12 18:06] jtcrowson commented on #122
Awesome, thanks!  Any insight to why that code was originally added?

[2018-03-13 04:46] bfwg commented on #122
Sadly I cannot recall the reason 😛

[2018-03-13 04:46] #120 closed

[2018-03-13 04:47] bfwg commented on #111
Closing due to no response.

[2018-03-13 04:47] #111 closed

[2018-03-13 04:47] bfwg commented on #61
Closing due to no response.

[2018-03-13 04:47] #61 closed

[2018-03-13 04:48] bfwg commented on #119
@wojofe have you tried with 1.7.6

[2018-03-13 04:49] bfwg commented on #109
Closing due to no response

[2018-03-13 04:49] #109 closed

[2018-03-13 04:49] #121 closed

[2018-03-15 06:31] burangwojin opened #127 "Hide scrollbar failure when resize viewport from wide to narrow"
#### What are the steps to reproduce?
1. _[scrollbar-hidden]="true"_
2. load page in a wide enough viewport
3. narrow viewport. when resizing narrow enough, scrollbar-x will display even if  _[scrollbar-hidden]="true"_

This is bug maybe, i think.

[2018-03-16 18:02] bfwg commented on #127
Thanks for reporting this, I'll take a look when I'm free.

[2018-03-20 14:56] algeier commented on #56
I have the same problem. I am using Angular 5.2.8
Are there any known issues preventing integration with ng 5.2.x?

[code]

[2018-03-27 17:43] johan-steffens commented on #125
I found that this is due to the default behavior of Firefox's handling of the 'dragstart' event. This can be fixed by adding the following Javascript to your page:

`document.addEventListener('dragstart', function (e) {
  e.preventDefault()
});`

Alternatively I've created a pull-request [here](https://github.com/bfwg/ngx-drag-scroll/pull/128) which has the code above in the ngOnInit() method of t

[2018-03-29 22:20] Johns-Chris opened #129 "onMouseUp stops all propagation when selecting text"
## Expected Behavior
When selecting text, either by `CTRL+A`, or double-click a line of text to select, user should be able to deselect the text easily; by clicking anywhere on the window once.

## Current Behavior
When selecting text, either by `CTRL+A`, or double-click a line of text to select, user has a difficult time deselecting the text.

## Possible Solution
I was able to prevent the issue

[2018-04-04 17:54] bfwg commented on #129
Hi @Johns-Chris , thanks for reporting this. I've tested your solution and it doesn't break anything for me.

[2018-04-04 17:57] bfwg commented on #127
Hi @burangwojin , I could not reproduce the error from the demo app. Can you use the [demo](https://bfwg.github.io/ngx-drag-scroll/) to test and possibly write down the reproduce steps?

[2018-04-04 18:12] #129 closed

[2018-04-04 18:16] bfwg commented on #129
The fix is in 1.7.7. Please let me know if you find any regression.

Thanks!

[2018-04-06 08:54] algeier opened #131 "Dependency on angular 5.1.x"
I am using Angular 5.2.9 - Are there any known issues preventing integration with ng 5.2.x?

[code]

There was already a similar issue a few months ago regarding ng 4.4: https://github.com/bfwg/ngx-drag-scroll/issues/56

[2018-04-06 17:33] johan-steffens commented on #131
Can you share your package.json so I can try and replicate your issue?

[2018-04-21 02:04] ryansigg opened #132 "Get CurrentIndex as emitted event?"
* **I'm submitting a ...**
  - [X] feature request

Unless I've missed something it appears that there's no current (easy) method to get a slide index after dragging/scrolling. Thinking about working something up myself but didn't know if this might be in the works (or also somewhere within the v2.0 release and I didn't see).

Thanks!

[2018-04-22 22:53] TimP4w opened #133 "Do not reset scroll location on disabling/enabling the drag."
* **I'm submitting a ...**
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
Feature

* **What is the current behavior?**
When disabling/enabling drag, the page gets scrolled to the starting position.

* **What is the expected behavior?**
Leave the scroll at the current position without resetting it.

* **What is the motivation / use case for changing the behavio

[2018-04-23 05:54] ramyalatha-redpinesignals opened #134 "While executing the code getting the error"
ERROR in Error: Metadata version mismatch for module <path>

/node_modules/ngx-drag-scroll/index.d.ts, found version 4, expected 3, resolving symbol UiModule in <path>/src/app/pages/ui/ui.module.ts, resolving symbol UiModule in <path>/src/app/pages/ui/ui.module.ts
    at syntaxError (<path>\node_modules\@angular\compiler\bundles\compiler.umd.js:1729:34)
    at simplifyInContext (<path>\node_module

[2018-04-23 08:18] bfwg commented on #134
ngx-drag-scroll supports Angular 5+, please update the angular version and test again.

Thanks.

[2018-04-23 08:25] ramyalatha-redpinesignals commented on #134
If i upgrade angular 5+  then the other dependencies which are using getting error . So I want the package which will support angular 4 along with this functionality .

[2018-04-26 16:29] bfwg commented on #134
You can install 1.4.2, I believe it supports ng4.

[2018-04-27 06:43] #133 closed

[2018-04-27 06:46] bfwg commented on #133
The change is in 1.7.8. Thanks.

[2018-05-16 07:14] realgsong opened #138 "angular6 support"
* **I'm submitting a ...**
  - [ V ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Reporting bug

* **What is the current behavior?**
npm show error while building with ng6
[code]

* **If the current behavior is a bug, please provide the step

[2018-05-17 12:46] jufarhi commented on #127
Hi @bfwg,

You can't reproduce in the demo because the height is hardcoded in the css for the wrapper element.

Remove the height in the css and you will see the problem.

[2018-05-18 05:14] burangwojin commented on #127
sorry for leaving behind this issue for long time.

Actually,  hardcoded brings this problem as @jufarhi said after I have read _ngx-drag-scroll.ts_
It is not easy for me to reproduce on https://stackblitz.com.

I think you should do _**setScrollBar()**_ or _ **checkScrollbar()**_ **when _window:resize**_ so that the height of wrapper element will be recalculate

At last, I solve this problem in m

[2018-05-18 05:50] bfwg commented on #138
@realgsong I'm on it, thanks for reproting.

[2018-05-18 07:09] #138 closed

[2018-05-18 07:09] bfwg commented on #138
Please try 1.8.0

[2018-05-18 07:11] #134 closed

[2018-05-20 09:49] MortezaT opened #140 "Different behavior on different platforms"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

I've created and app which uses several drag-scroll components for scrolling horizontally in a pretty long `RTL` page which only scrolls vertically, but the behavior is completely diff

[2018-05-22 15:49] bfwg commented on #140
Thanks for reporting @MortezaT , I'll look into it.

[2018-05-23 07:48] bfwg commented on #140
Hi @MortezaT , can you provide me with a plunker? I want to see how you use the library for your vertical carousel.

[2018-05-27 06:15] MortezaT commented on #140
I'm pretty busy right away, but if it helps here is the [page](https://alounak.com/search?page=0&size=9&sort=3&dealType=2&fileType=%20&minNumberOfBedrooms=%20&regionLevel=2&) I'm using your component for mobile phones or any small screens.

[2018-06-04 22:20] MrSnappingTurtle opened #141 "Does not work with Angular 6"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

Bug

* **What is the current behavior?**

Currently, the images wrap onto new lines instead of being hidden inside the carousel. This code was functioning befo

[2018-06-04 22:20] MrSnappingTurtle commented on #141
Please let me know if you'd like me to try anything out or test.

[2018-06-05 23:18] bfwg commented on #141
Hi @MrSnappingTurtle , can you try to test without the flexLayout attributes and user `dragScroll` instead of `drag-scroll`?
[code]

[2018-06-05 23:47] bfwg commented on #140
The issue should be resolved in the latest version(1.8.1). Sorry for the delay. I was swamped with work.

[2018-06-05 23:47] #140 closed

[2018-06-05 23:48] bfwg commented on #131
Ping.

[2018-06-05 23:50] bfwg commented on #127
@burangwojin do you mind to create a PR with your solution?

[2018-06-05 23:56] bfwg commented on #127
@jufarhi the height of the wrapper has to be declared explicitly.

[2018-06-05 23:58] bfwg commented on #119
I'm closing this issue. Please let me know if you want to reopen.

[2018-06-05 23:58] #119 closed

[2018-06-07 17:53] MrSnappingTurtle commented on #141
I'll try it out later today and will let you know.

[2018-06-08 03:36] MrSnappingTurtle commented on #141
Ah, it's `dragScroll` now. Didn't notice that changed when I looked at the npm page, sorry. All works now.

Thanks for your help! :)

[2018-06-08 03:36] #141 closed

[2018-06-08 05:14] bfwg commented on #141
No problem. Glad I can help.

[2018-06-11 02:08] burangwojin commented on #127
I will try my best, but without deadline.
Actually, this ngx lib about drag&drop is good enough for me when I using.

[2018-06-11 12:59] ramyalatha-redpinesignals commented on #134
@bfwg Still have an issue with 1.4.2 also

[2018-06-11 16:50] #66 closed

[2018-06-11 16:51] #41 closed

[2018-06-11 16:51] bfwg commented on #131
Closing issue due to no response.

[2018-06-11 16:51] #131 closed

[2018-06-12 21:34] CrackerakiUA opened #144 "drag-scroll-disabled alternative for children"
* **I'm submitting a feature request**

It would be nice to have something like `drag-scroll-disabled` attribute which will disable drag scroll on that element and all children elements of that. At the moment I am fighting to make `drag-scroll-disabled="BOOL"` or `drag-scroll-disabled="{{BOOL}}"` and `mouseenter, mouseleave` without success.

[2018-06-12 21:57] bfwg commented on #144
Hi, @CrackerakiUA . Have you tried`[drag-scroll-disabled]="disabled"`?

[2018-06-13 15:36] CrackerakiUA commented on #144
adding below code
[code]
and on child place:
[code]
also presenting bool to see if it's changing. `[drag-scroll-disabled]` feels like it working on start value and when I change the variable, it don't change. Strange because in your example toggle is working.

[2018-06-13 17:23] bfwg commented on #144
Correct me if I'm wrong. Basically, you want `drag-scroll-disabled` to disable `mouseenter`, and `mouseleave` for all children element in the directive container.

[2018-06-13 19:53] CrackerakiUA commented on #144
it's not like for all children elements, cool feature would be to add an attribute to any child and for that child drag scroll would be canceled (in a way stopPropagation works).

[2018-06-13 20:05] CrackerakiUA commented on #144
Theoretically if I implement your demo it should work nice, but in my case, I have tons of elements in that container and disable is not working well.

[2018-06-13 21:38] bfwg commented on #144
Do you have a code snippet to share? Or can you fork the demo app and show me what do you mean exactly? I'm having a hard time to picture the use case with reading the code or demo.

[2018-06-14 02:49] CrackerakiUA commented on #144
[code]
Please check the code, if that will not clarify the idea, I will make a demo.

[2018-06-16 08:50] bfwg commented on #144
Thanks @CrackerakiUA , I got the idea. I will soon push version 2.0.0 out which will introduce a `drag-scroll-item` to mark all children elements. Once 2.0.0 is out, I can add this feature right after.

[2018-06-16 12:39] CrackerakiUA commented on #144
Cool, do you know when that will be, do you need any help on that?

[2018-06-17 04:12] bfwg commented on #144
The PR for 2.0 is up https://github.com/bfwg/ngx-drag-scroll/pull/145. I'm just doing a bunch of tests to make sure there is no regression. Here is the new README https://github.com/bfwg/ngx-drag-scroll/blob/7592e3b08894ce23347c392c3fb88fc4c545323b/README.md

It'd be great if you can give that PR a run so that we can make it live faster. Thanks!

[2018-06-17 07:51] MortezaT commented on #140
It's working really good. Thank for the rapid response :)

[2018-06-19 10:22] MortezaT opened #146 "method moveRight doesn't work Or RTL support issues"
* **I'm submitting a ...**
  - [x] bug report
* **What is the current behavior?**
I got one issue report and one question to ask.
1- I think `currIndex` has been set out of array boundary by mistake In function `CurrentChildWith` (line 274) and it should be set to `length - 1` - just like the if statement's condition -. this stops move right
2- I think there are lots of problems with `RTL` support

[2018-06-19 20:20] danielhanzs opened #147 "ng build --prod [name]"
* **I'm submitting a ...**
  - [ x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**
When I wanted to build the library (angular cli 6) I got this error message, in runtime with ng serve it's working like cha

[2018-06-19 23:04] CrackerakiUA commented on #144
drag-scroll-item
looks so nice, it's possible also to use something like
ignore-drag-scroll-item
imagine an example as trello where you have columns which is not dragging the background.

[2018-06-19 23:50] bfwg commented on #144
Yup, I'm thinking of adding a `drag-scroll-disabled" attribute in the `drag-scroll-item` to disable the parent app from dragging and scrolling. What do you think?

[2018-06-22 17:54] bfwg commented on #146
Hi @MortezaT , sorry for the delayed response. Can you give me some reproducing steps and a use case so I can take a closer look? Thanks!

[2018-06-22 17:56] bfwg commented on #147
HI, @danielhanzs . I'll take a looking over the weekend. Thanks for reporting.

[2018-06-25 07:43] MortezaT commented on #146
Hi @bfwg, Thanks for the response.
Currently I'm pretty busy with some other stuff, but I'll do it ASAP.

[2018-06-25 16:58] bfwg commented on #146
No problem, take your time.

[2018-06-26 08:53] ventr1x opened #148 "Add stopScrolling() function"
Feature request:

Currently this directive has issues with other directives that use any kind of drag/drop events.
For example using a drag&drop plugin the panning starts on dropping an element and only stops after clicking the mouse.
A very simple "stopScrolling()" function would help there, as it's understandably nearly impossible to support other directives.
But with more useful exposed functio

[2018-06-28 00:13] bfwg commented on #148
@ventr1x  is this a duplicate of https://github.com/bfwg/ngx-drag-scroll/issues/144?

[2018-07-02 07:26] tatkareprajakta opened #149 "What should I use to put slides in infinite loop ?"

[2018-07-03 15:19] barna-n opened #150 "If I attach the directive dynamically the drag scroll and the auto align is not working"
I'm using the package with Angular 5, and my implementation looks like this:

[code]

[2018-07-06 06:18] bfwg commented on #149
The library does not support infinite loop at the moment. A PR is welcome because I'm pretty busy lately.

[2018-07-06 06:33] bfwg commented on #150
This is due to the adaption of `HostListener`. Please try to use version `1.8.1` for now while I work on a fix.

[2018-07-06 06:33] bfwg commented on #150
Thanks for reporting!

[2018-07-07 10:42] MortezaT commented on #146
[here](https://alounak.com/advert/5af8232234875559bfb1a982) you can see my implementation. I hope this helps with the problem.

[2018-07-11 11:30] MortezaT commented on #147
@danielhanzs
Can you provide some code sample?

[2018-07-11 13:21] danielhanzs commented on #147
sorry, in the meantime I wrote an rxjs based drag scroll, but the code at fault is

@HostListener('window:resize', ['$event'])
  onResize() {
    this.markElDimension();
    this.checkNavStatus();
  }

you need to delete the $event at HostListener line of add the event at the onResize function.

After that it should build without errors

[2018-07-11 13:21] #147 closed

[2018-07-11 17:01] #148 closed

[2018-07-11 22:14] bfwg commented on #150
@barna-n 2.0.0-beta.2 is out, let me know if the issue persists.

[2018-07-11 22:15] bfwg commented on #146
Hi @MortezaT , 2.0.0-beta.2 is out, let me know it made your implementation issue worst or better. Thanks!

[2018-07-13 12:17] prajaktatkare1234 opened #153 "'drag-scroll' is not a known element"
I am getting the below error when I am using the drag-scroll element in any component.html
"'drag-scroll' is not a known element"
I have imported it into app.module.ts.Is there any need to import in component.ts file?
If yes, then what should I import?

[2018-07-13 13:30] #153 closed

[2018-07-13 15:37] leogilardi6 opened #154 "Click propagation"
* **I'm submitting a ...**
  - [ x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

I'm having some problems when I drag and release the click, the event seems to not be stopping its propagation as the "Issue #54 - fix: prevent click propagation immediately after drag and drop" says.

  - Version: 1.8.2

[2018-07-13 18:38] bfwg commented on #154
I'm not able to reproduce in 2.0.0-beta.3. Can you give me the repro steps?

[2018-07-13 20:46] leogilardi6 commented on #154
Hi! thanks for answer. I'm trying to scroll through "divs" elements, maybe this is not the right way.
Here is the code:

[code]
I only click on an image, drag it, but when I release it , it just redirects me to the image link. is there another possibility to add a "dragend" event?

Is there any diference between scrolling on simple images and "divs" elements ?. The rest of the module is working pr

[2018-07-13 21:10] leogilardi6 commented on #154
I've been trying to reproduce the issue on a demo, and it happens when the dragging item is a link. In the Demo, for example, if you change any image from

`<img _ngcontent-c6="" src="assets/img/c3po.png">`

to

`<a href="http://anyurl.com"><img _ngcontent-c6="" src="assets/img/c3po.png"></a>`

it have the same behavior as on my project.

I hope it helps, regards!

[2018-07-14 12:29] MortezaT commented on #146
Neither beta.2 nor beta.3 worked at all.
they both come up with error which suggests that it hasn't been recognized by angular. Here is the error:

     Can't bind to 'scrollbar-hidden' since it isn't a known property of 'div'.

Did I miss something?

[2018-07-14 23:36] bfwg commented on #146
Hi @MortezaT , 2.0.0 uses `drag-scroll` as the carousel host element instead of div.
[code]
More information can be found in the README.md.

Cheers.

[2018-07-15 11:31] MortezaT commented on #146
Hi @bfwg Thanks.
Is there any documentation for the new version, because It looks like they're way too different.
I can't understand why there is `20px` addition to the width and height of `.drag-scroll-content`.

[2018-07-15 20:37] IlCallo opened #156 "[Bug] Could not find a declaration file for module 'ngx-drag-scroll'"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
[code]
This pops out after the installation when I try to compile, **even if there is a .d.ts file**.
There are also some "peer dipendency mismatch" warnings.

* **Please tell us about

[2018-07-16 00:47] bfwg commented on #156
HI @IlCallo I was not able to reproduce the error.
I did `ng new` to create a new project with angular cli 6.0.8, and imported the ngx-drag-scroll module.
The application was running without any error for me.

Can you try with 6.0,8? If the issue goes away I will look into 6.0.9. If not, please provide me with more information(OS version, node version etc.)

[2018-07-16 00:47] #150 closed

[2018-07-16 00:55] bfwg commented on #146
To hide the scroll bar, we need to create a new wrapper div and insert the div between the parent div and the carousel div(.drag-scroll-content).

For example:
This is a normal carousel
![image](https://user-images.githubusercontent.com/12819525/30182916-5afda62a-93cd-11e7-95ae-265ee1eb0368.png)

When we try to hide the scrollbar, there is no magic! We simply create a wrapper div, and set the size

[2018-07-16 12:50] IlCallo commented on #156
Don't have much time atm, will try as soon as I can and report back.
My environment:
- Windows 10
- Node 9.3.0

Need other env informations?

[2018-07-17 08:30] jneves92 opened #157 "the component is not destroyed when we navigate to another page"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Create component ngx-drag-scroll and navigate to another page. Go to the memory profiler and take a snapshot.

![image](https://user-images.githubusercontent.com/25101766/42805410-a25

[2018-07-18 08:39] MortezaT commented on #146
@bfwg
Thanks. Now with this visual explanation everything is obvious for me and I confess this is a smart idea.
Everything looks fine except the very first time navigation. I have to drag a little bit before ( just a bit not a complete photo) to get `navs` working.
Method `moveRight` works at the moment and moves scroll to the left (end)

[2018-07-18 13:54] GuilhermeDemoliner commented on #154
I implemented a slight treatment in my code to avoid this issue.
html:
`

                   <div   dragScroll   (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)" #nav >

                        <div class=" slide-mes"   *ngFor="let item of items " (click)="doAny(item)" >

                        </div>

                    </div>
`

typescript:

    clickEnab

[2018-07-18 14:07] leogilardi6 commented on #154
Hi Guilherme! Thanks for your answer! Is this working when you don't reach any of the bounds? Because on my implementation, I have a lot of iitems to scroll and it propagates anyway when I release the click in the middle of it for example and not in the bounds specifically and the bounds events are only produced when you reach one of them ( left or right).

[2018-07-18 14:32] GuilhermeDemoliner commented on #154
bounds events are produced when you scroll the div, put a console.log in this to see.

[2018-07-18 15:05] leogilardi6 commented on #154
Thank you! It worked! But I had to adapt all the child components to listen for the mouse events too.. That's why I asked for that feature in the module itself.

[2018-07-27 10:34] matteobarale opened #158 "Angular universal error on compiling"
* **I'm submitting a ...**
  - [*] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

During compiling of my app there is this error
ERROR in server.js from UglifyJs
Unexpected token: name (DragScrollItemDirective) [server.js:12097,6]

Please tell us about your environment:
        Version: 2.0.0-beta.3

[2018-07-27 14:26] mval1002 opened #159 "Disable or reduce snap delay"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
   - Request a feature/ determine if feature is already present.

* **What is the current behavior?**
   - Snap scroll has a short, but obvious delay before cont

[2018-08-01 08:36] gitkumi opened #160 "Can't change scrollbar-hidden value by data binding"
Angular version: 5.0.0
ngx-drag-scroll version: 2.0.0-beta.3

What I want to do is show the scrollbar on mobile view, and hide on desktop view.

On .ts file, I have a function that checks for the screen size of the user then the return value is binded to scrollbar-hidden.

Something like this:

[code]

On .html file,

[code]

Also, I can't make a Stackblitz because I can't install this package in

[2018-08-01 08:46] gitkumi commented on #160
What the hell. It suddenly worked. Sorry, please disregard this post.
But yeah, I think this package can't be installed in Stackblitz. It installs 4.3.4 which I think is a different package or old version. The latest as of this writing is 2.0.0-beta.3.

This one:
https://libraries.io/npm/ngx-drag-scroll

[2018-08-02 12:13] #160 closed

[2018-08-03 17:38] GuilhermeDemoliner opened #161 "SnapDisable = false flicking Slider on mobile"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Report a bug on function "onScroll" in js file

* **What is the current behavior?**

`
  DragScrollDirective.prototype.onScroll = function (event) {
        var

[2018-08-07 16:26] bfwg commented on #158
Hi @matteobarale , sorry for the late reply. This library does not support Angular Universal at the moment. One thing you can try is to upgrade your project to Angular 6.x.x. If that does not work, a PR is more than welcome.

Thanks!

[2018-08-07 16:26] #158 closed

[2018-08-07 16:27] bfwg commented on #156
hi @IlCallo , have you tried 6.0.8?

[2018-08-07 17:04] IlCallo commented on #156
Sorry for delay.
In the meantime I switched to angular material experimental drag&drop to keep external dependencies to bare minimum.
If no one else experienced the same problem it probably was only on my setup, you can close this, ty for your time :)

[2018-08-07 17:19] bfwg commented on #154
Hi @leogilardi6 , sorry for the late reply. I was swarmpped by work.

I tried to with changing https://github.com/bfwg/ngx-drag-scroll/blob/develop/demo/app/home/home.component.html#L4-L12 to
[code]
but I was **not** able to reproduce in version 2.0.0-beta.3

have you tried playing with the latest version?

[2018-08-07 17:28] bfwg commented on #156
No problem 😄

[2018-08-07 17:28] #156 closed

[2018-08-08 14:49] MaciejWWojcik opened #163 "Active item"
I'm submitting
  - [*] feature request

I want to ask if there is any possibility to get an item which is 'active'? I mean is there any method to check what item is on the center.

* **What is the motivation / use case for changing the behavior?**
The use case is like this:
I have plenty of items which are for example avatars, the user can swipe from left to right to choose avatar it wants. When t

[2018-08-09 20:25] JonasJW opened #164 "Text is inline and can't seem to be changed"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

report bug

* **What is the current behavior?**

Every paragraph and probably any other text element is inline. I tried to have cards with text in it but the lo

[2018-08-10 13:53] nolafs opened #165 "2.0.0-beta.3 no working in IE"
Hi

2.0.0-beta.3 doesn't work in IE. The AOT build throws in error in the browsers. I tried version 1.8 but this gives me error in Angular 6.

Any ideas?

Cheers
Olaf

[2018-08-13 17:08] bfwg commented on #163
I believe this is a duplicate of #132

[2018-08-13 17:31] bfwg commented on #164
Hi @JonasJW , please add the below CSS to your item elements.
[code]

Please let me know if you have more questions.

[2018-08-13 17:32] bfwg commented on #165
Thanks for reporting, I'll take a look when I have the chance.

[2018-08-13 17:38] bfwg commented on #159
Hi @mval1002 , in 2.0.0-beta-4, we have introduced an new input `snap-duration`. From there, you should be able to control the snap animation duration.

[2018-08-13 17:38] #159 closed

[2018-08-17 13:05] bogeorge commented on #165
I'm seeing the same think in beta4.  I think it's because the class keyword isn't transpiled

[2018-08-19 12:53] menahemc commented on #165
there is any way to make it works on IE11?
did you fixed this issue yet?
please.... i need immediate solution for this issue.
Thanks

[2018-08-19 13:38] nolafs commented on #165
Hey,

Is downloaded it and added the module to my project. That fixed it.

Cheers
Olaf

Sent from my iPhone

On 19 Aug 2018, at 13:53, menahemc <notifications@github.com<mailto:notifications@github.com>> wrote:

there is any way to make it works on IE11?
did you fixed this issue yet?
please.... i need immediate solution for this issue.
Thanks

—
You are receiving this because you authored the thre

[2018-08-19 14:32] nolafs commented on #165
Did u amended the polyfill?

Sent from my iPhone

On 19 Aug 2018, at 15:19, menahemc <notifications@github.com<mailto:notifications@github.com>> wrote:

i downloaded it but steel i get the same issue on main.js

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/bfwg/ngx-drag-scroll/issues/165#issuecomment-414130854>, or mut

[2018-08-20 05:03] menahemc commented on #165
yes, if i remove the drag-scroll from my project everithing work great. my err is
'SCRIPT1002: Syntax error' on position of:

class DragScrollItemDirective {
    constructor(elementRef) {
        this.elementRef = elementRef;
        this.display = 'inline-block';
        this._elementRef = elementRef;
    }
}'

[2018-08-20 05:58] michalco16 commented on #165
hey...
I'm also dealing the same problem as you.. :(
IE not working
SCRIPT1010: Expected identifier..polyfills
I comment out all the requires polyfills in the polyfills.ts
I run the following
1-npm install --save classlist.js
2-npm install --save web-animations-js
still not working
what can I do ?

[2018-08-20 10:34] menahemc commented on #165
@nolafs i downloaded it in zip and i open it as a stand alone project and it works, I guess that there is issue with the ts translation. but how do i attach the module to my project locally??
Thanks

[2018-08-20 11:15] nolafs commented on #165
Just copy the the module into folder of your project and import them like u would do with any other modules.

Sent from my iPhone

On 20 Aug 2018, at 11:34, menahemc <notifications@github.com<mailto:notifications@github.com>> wrote:

@nolafs<https://github.com/nolafs> i downloaded it in zip and i open it as a stand alone project and it works, I guess that there is issue with the ts translation. bu

[2018-08-20 13:10] menahemc commented on #165
It works:)
ThankU so mutch

[2018-08-20 18:56] bfwg commented on #165
Sorry for the late response guys. I think I know what the issue is. The build target in `tsconfig` file is pointing to `es2015` instead of `es5`. I'll try to make a PR today and test it out.

https://github.com/bfwg/ngx-drag-scroll/blob/develop/src/tsconfig.json#L4

[2018-08-21 01:10] bfwg commented on #165
The PR is up. @nolafs and @menahemc , can you install the experiment branch and give it a test?
You can test the branch by putting the below in package.json and re-install the node_modules(remove it first, and run `npm install`).
[code]

[2018-08-21 05:34] menahemc commented on #165
i try it, i got this:
npm ERR! Error while executing:
npm ERR! C:\Program Files\Git\cmd\git.EXE ls-remote -h -t ssh://git@github.com/bfwg/ngx-drag-scroll.git
npm ERR!
npm ERR! ssh: connect to host github.com port 22: Connection timed out
npm ERR! fatal: Could not read from remote repository.
npm ERR!
npm ERR! Please make sure you have the correct access rights
npm ERR! and the repository exists.
n

[2018-08-21 16:19] bfwg commented on #165
My mistake, can you please try the below?
[code]

[2018-08-22 11:14] menahemc commented on #165
it dosent works' I got some errors on npm I.

‫בתאריך יום ג׳, 21 באוג׳ 2018 ב-19:19 מאת ‪Fan Jin‬‏ <‪
notifications@github.com‬‏>:‬

[2018-08-22 20:26] mval1002 commented on #159
Hi @bfwg! Thank you for the update, and sorry for taking some time to respond. I got caught up in some other aspects of my project and just now got a chance to try this!

I updated to Beta4 and added a `snap-duration="10"` input to my `drag-scroll` element, but it doesn't seem to make a difference. Am I missing a step?

Also, based on the description in the docs, I fear I may not have given a good

[2018-08-22 23:56] bfwg commented on #165
I've published `2.0.0-beta.5` which builds the library in ES5( no class keyword). Please give that a try, and let me know the result.

[2018-08-27 07:32] phil123456 opened #167 "cannot reset (no entry point)"
* **I'm submitting a ...**
  - [ ] bug report
  - [ x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

feature

* **What is the current behavior?**

no function to reset the component to the first element
no function to move to nth component
so far I use for loo

[2018-08-27 08:02] bfwg commented on #167
You can use the `moveTo` method to navigate to nth element.
https://github.com/bfwg/ngx-drag-scroll/blob/develop/src/ngx-drag-scroll.ts#L308

Let me know if you have more questions and I can reopen the issue.

Thanks.

[2018-08-27 08:02] #167 closed

[2018-08-27 08:27] phil123456 commented on #167
this makes no sense...your comp should make our dev life easier,
using moveto scrolls the component in a visible manner, I have to hide it not to show this behaviour

at least create an entry point to know how many elements are in the component

we decided to use something else anyway

this is really a low level component that barely does display divs with a scroll bar and dont offer much convenie

[2018-08-27 21:52] MNorgren commented on #132
This feature would be really nice IMO as well. Been trying several different ways to get this to work with the current implementation and having a really tough time. I'll try to think of an implementation and submit a PR if I can come up with something

[2018-08-29 18:12] bfwg commented on #132
Big thanks to @MNorgren . Resolved in https://github.com/bfwg/ngx-drag-scroll/pull/168

[2018-08-29 18:13] #163 closed

[2018-09-05 06:18] phil123456 opened #169 "syntax error in IE11 (Angular 5)"
* **I'm submitting a ...**
  - [X] bug report

* **What is the current behavior?**

in IE11, I get a syntax error in the vendor module bundle.js

[code]

* **What is the expected behavior?**

it works in chrome and firefox (as usual)

I enabled the polyfils

[code]

* **Please tell us about your environment:**

  - Version: 1.0.0
  - Browser: [IE11]
Windows 7 & 10
angular: ^5.2.0
 ng CLI: ~1.7.4

[2018-09-05 09:12] IlCallo commented on #153
How did you resolved this?

[2018-09-05 09:27] IlCallo commented on #127
I'm interested in this as well

[2018-09-12 06:52] bfwg commented on #169
hi @phil123456 , are you on the latest version of the drag-scroll library?

[2018-09-12 07:31] phil123456 commented on #169
not sure, how do I force the latest version ?
here is the lock file :

[code]

[2018-09-12 07:40] bfwg commented on #169
you can do a `nom install ngx-drag-scroll@latest --save`.

[2018-09-12 08:27] phil123456 commented on #169
ok now it works

[2018-09-12 16:17] #169 closed

[2018-09-12 16:18] bfwg commented on #165
I'm going to assume the issue resolved. Please let me know if I need to reopen this.

[2018-09-12 16:18] #165 closed

[2018-09-17 02:34] gbraga opened #170 "Does a library display img that are conditioned by a *ngIf?"
Because in my implementation the layout breaks completely, and I even understand the elements are inserted later.
What is the recommended methodology for this? Or is it really not possible to do this in lib?

Example:
[code]

[2018-09-17 15:56] Andi1990 opened #171 "method indexChanged / moveRight doesn't work"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

I've noticed that the indexChanged method is not working properly for some reason. Sometimes it is returning the last index, but when I look at the carousel it is not at the end. I sup

[2018-09-22 14:54] kvimalkr55 opened #172 "if i keep div instead of image the left and right arrow is not working"
<drag-scroll   drag-scroll-y-disabled="true" scrollbar-hidden="true" fxLayoutGap="10px" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
     #nav>
     <span class="insideIm"><img src="https://www.ixambee.com//v2/icons/kv.png" alt=""></span>
      <span class="insideIm"><img src="https://www.ixambee.com//v2/icons/kv.png" alt=""></span>
      <span class="ins

[2018-09-23 08:00] bfwg commented on #170
The `*ngFor` is at the wrong place.
Try something like
[code]

[2018-09-23 08:00] #170 closed

[2018-09-23 08:01] bfwg commented on #171
Hi @Andi1990 , are you able to reproduce the issue with the demo application carousel? I can't seem to reproduce the just to last index issue.

[2018-09-23 13:38] Andi1990 commented on #171
The link to the demo is dead. Do you have another, maybe fiddle or so?
However, the reason might be that I have div's instead of img's which are in the drag-scroll container

[2018-09-23 21:18] bfwg commented on #171
You can run the demo with
[code]

[2018-09-24 12:01] kvimalkr55 commented on #172
now its working thank you sooooooo much

[2018-09-25 19:32] Andi1990 commented on #171
I ran the demo by cloning https://github.com/bfwg/ngx-drag-scroll.git and it worked, thank you.
I could reproduce the issue:
The following console output is produced by just clicking the move-right-button several times:
Angular is running in the development mode. Call enableProdMode() to enable the production mode.
ngx-drag-scroll.ts:113 index changed to 1
ngx-drag-scroll.ts:113 index changed to 0

[2018-09-25 23:44] bfwg commented on #171
Please give 2.0.0-beta.7 a try. Let me know if I need to reopen this. Thanks for reporting!

[2018-09-28 04:22] kvimalkr55 opened #174 "right click and left click not working (drag is working)"
<drag-scroll class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true" fxLayoutGap="10px"
            (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)" #nav>

            <div drag-scroll-item class="col-md-4" *ngFor="let userData of userDatas">
              <div class="px-4">
                <img [src]="userData.img" class="rounded-circle img-ce

[2018-09-28 07:32] IvanPrat commented on #174
Same to me.

It seems it's because the animation.

You can look at this reference, and check for the code: /node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.js:196. If you go to `DragScrollComponent.prototype.moveLeft` and you remove `this.isAnimation`, you will notice it actually works as expected.

However, don't do this. Just wait for the author's fix.

[2018-09-28 18:46] MNorgren commented on #153
I experience the same thing. VSCode gives me an error message, but everything compiles and runs just fine.   Annoying, but not really worth investing much time into

[2018-09-29 07:12] bfwg commented on #174
Relate to #176

[2018-09-29 07:56] bfwg commented on #174
Please try 2.0.1 Thanks.

[2018-10-07 18:02] Andi1990 commented on #171
Unfortunately the issue still exists..please reopen it.
I tried the demo with  ngx-drag-scroll@2.0.1 and it turns out that from index 6 up to index 10, the movement is not working. I would expect that the images still move to the left, when I press the button "right".

[2018-10-08 14:28] anoopsurendrananp opened #177 "Move Right randomly fails"
Hi I installed ngx-drag-scroll@2.0.1.
It worked fine with some 5 elements pretty good.
But when I added navigation left and right buttons. The event is correctly triggering but at certain points, moveRight is not reflected in DOM.

This is a demo http://www.cedextech.com/test/chat-ui/ghh
click on chat icon
Click I accept
Click Get started
You can see a group of buutons are listing
If you check on

[2018-10-09 09:07] Belouccio opened #178 "Enable virtual scroll"
Hi. Thank you for your work! Can you include virtual scroll into drag-scroll? Each my drag-scroll-item element contains a thousand items, so there are a lot of them in the DOM. It will be great if you do this, or tell me how can i do it by myself))

[2018-10-14 08:42] Andi1990 commented on #171
It turns out that the issue only occurs when the last image (index) is selected. Navigating then to the previous image (by scrolling or button), the navigation works fine but the function _indexChanged()_ doesn't recognize the changed index or rather it wrongly toggles to the last index again.
Example console output when trying to move from last image to the previous one (last index = 8):
index ch

[2018-10-15 17:08] bfwg commented on #171
I'll take a look today after work. Sorry for the delay.

[2018-10-16 06:51] bfwg commented on #174
Hi @kvimalkr55 , can you give 2.0.2 a try? Thanks

[2018-10-16 07:13] kartikjagdale opened #180 "Demo website not opening"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**

When I click on demo link it takes me to a page where the demo is not being shown only empty page
where a welc

[2018-10-16 16:28] #174 closed

[2018-10-16 16:28] bfwg commented on #171
Hi @kvimalkr55 , can you give 2.0.2 a try? Thanks

[2018-10-16 16:29] bfwg commented on #177
hi @anoopsurendrananp , can you give 2.0.2 a shot?

[2018-10-19 17:57] Andi1990 commented on #171
It works, nice job!

[2018-10-19 18:43] #171 closed

[2018-10-19 18:44] bfwg commented on #180
It is up and running now, thanks for reporting.

[2018-10-19 18:44] #180 closed

[2018-10-21 12:27] Andi1990 opened #181 "Starting ngx-drag-scroll from specified index"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

Is it possible to start the dragscroll from other index than 0?

* **What is the current behavior?**
Right now, the dragscroll is starting from the very first i

[2018-10-22 09:39] IlCallo opened #182 "Angular 7 support"
* **I'm submitting a ...**

feature request

* **What is the motivation / use case for changing the behavior?**

Angular 7 is out, library should be checked for compatibility and peerDependencies should be updated

[2018-10-22 22:15] bfwg commented on #181
You can actually achieve setting the initial index by calling `moveTo` in `ngAfterViewInit block. Make sure to wrap the call with setTimeout(() => {...}, 0);
For example:
[code]

[2018-10-23 01:09] bfwg commented on #178
Hi @Belouccio , have you tried to make the carousel array elements dynamic? You can try to remove/append elements on scroll/drag.

[2018-10-24 12:31] anoopsurendrananp commented on #177
@bfwg Thank you so much for the response.
It works perfect

[2018-10-24 12:31] #177 closed

[2018-10-25 16:54] bfwg commented on #127
Is this still occurring in the 2.0.2?

[2018-10-25 16:55] bfwg commented on #146
I am going to close this issue. Please let me know if I need to reopen this. Thanks!

[2018-10-25 16:55] #146 closed

[2018-10-27 08:47] Andi1990 commented on #181
already tried.., unfortunately I get this error every time:

`core.js:1673 ERROR TypeError: Cannot read property '_elementRef' of undefined
    at DragScrollComponent.push../node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.js.DragScrollComponent.maximumIndex (ngx-drag-scroll.js:415)
    at DragScrollComponent.push../node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.js.DragScrollComponent.moveTo (ng

[2018-10-27 09:58] bfwg commented on #181
Are you calling `moveTo` within `ngAfterViewInit` block? The `moveTo` method can be called when the drag scroll carousel element is visible on the page.
Or you can add a little delay and try again like:
[code]
let me know if that works.

[2018-10-27 10:42] Andi1990 commented on #181
I did. But with timeout of 1s now it works! Thanks for the help, although it's a bit hacky.

[2018-10-28 00:06] bfwg commented on #181
Hmm, without looking at the code I can't figure out why `ngAfterViewInit` doesn't work for you. I would say use the `setTimeout` for now until this feature is out. A PR is more than welcome.

[2018-11-01 19:45] Andi1990 opened #183 "dragscroll is lagging on mobile device"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
When scrolling through content by swiping on a mobile device there is a lag (<1s) between "swipe-end" and snap to the next list item. When scrolling on a desktop device no lag can be ob

[2018-11-05 22:37] jayrungta opened #184 "scrollReachesRightEnd should be recalculated in checkNavStatus() and Window Resize Support"
* **I'm submitting a ...**
  - [ X ] bug report
  - [ X ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

In my application, I am listening to the window resize event, and subsequently calling the checkNavStatus() function in hopes that it will correctly update the values of reachesLeftBound and reachesRightBound.

Howeve

[2018-11-08 09:48] DronkWynie opened #185 "Add an @Output for once the drag-scroll has been initialised"
* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
New Feature

* **What is the current behavior?**
There's no way to detect once drag-scroll has been initialised

* **What is the expected behavior?**
Add an **@O

[2018-11-08 12:15] nadav-lin commented on #127
Still happens to me in, 2.0.2

[2018-11-09 09:04] IlCallo commented on #127
Can't reproduce on 2.0.2, but I'm not sure if it's actually fixed or I just forgot how to replicate the issue 🤔
Without a stackblitz replicating the error in previous versions it's a bit hard to find out if it's actually solved or not

[2018-11-14 14:45] Paul75 opened #186 "error in console when only two images and click right button"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Click into writ button (like exemple) it say errors when have only two images ...

* **If the current behavior is a bug, please provide the steps to reproduce an

[2018-11-17 13:51] Paul75 opened #187 "Error in right or left click"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Error when click left

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a min

[2018-11-29 01:01] #183 closed

[2018-11-29 01:01] bfwg commented on #183
Resolved in #190

[2018-11-29 05:40] bfwg commented on #185
Resolved in #192

[2018-11-29 05:40] #185 closed

[2018-11-30 14:46] jayrungta commented on #184
@bfwg thanks for the dynamic checking update.

Do you think using resize listener with a debounce mechanism is also not recommended? Here's what I am doing:

[code]

[2018-11-30 18:11] bfwg commented on #184
Debounce is definitely better to have when using the window resize listener in my opinion.

[2018-11-30 20:31] bfwg commented on #184
Yes, but I don't have time to do that right now. I can accept a PR if you want to make one.

[2018-12-11 12:57] jasperltz93 opened #194 "Content gone within the <drag-scroll> tag"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
![image](https://user-images.githubusercontent.com/26257150/49802267-67e0d400-fd87-11e8-8809-ddd78842249f.png)
A div generated by the library with a "drag-scroll-content" class is havi

[2018-12-11 17:10] bfwg commented on #194
Hi, have you tried setup a width and height for your drag-scroll component? The “drag-scroll-content” takes its width and height from the parent.

[2018-12-20 02:49] kmturley opened #195 "Angular Universal build prerender error"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**
Bug with your library and Angular Universal build prerender functionality

* **What is the current behavior?**
When you run the command:
```npm run build:prerender```

it runs:
```"generate:prerender": "cd dist && node prerender",```

Then fails

[2018-12-21 12:01] bentzibentz opened #196 "right and left"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Click right and left not working, always get the following error:
[code]
indexChanged is also never called.

Implementation is the same like in the demo for demo-one

* **Please tell us

[2018-12-23 04:19] kmturley commented on #195
**Approach 2**
Use the Typescript build options for the example project at:
https://github.com/filipesilva/angular-quickstart-lib

So far it seems to be building, but I think i've got some of the paths wrong?
https://github.com/kmturley/ngx-drag-scroll/commit/85194756b2b122dc887befe0f06c4a7e3f3ebce4

I think it's very close to working!

[2018-12-24 08:17] bfwg commented on #182
2.1.1 is out with #197 . Thanks.

[2018-12-24 08:17] #182 closed

[2018-12-24 08:19] #194 closed

[2018-12-24 08:21] bfwg commented on #196
Hi, can you give 2.1.1 a try? I added Angular 7 support.

[2018-12-24 08:38] bentzibentz commented on #196
Hi, unfortunately the error is still there:

[code]

[2018-12-24 08:40] bfwg commented on #196
I think what happen is that your control button can not get hold of the carousel element. Can you try to put them in the same parent element and load them at once?

[2018-12-26 10:29] swapnil-coditas opened #198 "Error during template compile of 'DragScrollModule'"
I am getting "Function calls are not supported in decorators but 'ɵmakeDecorator' was called in 'NgModule'
    'NgModule' calls 'ɵmakeDecorator'." while ng build

Below is my package.json

`"dependencies": {
		"@angular/animations": "7.1.4",
		"@angular/cdk": "7.0.1",
		"@angular/common": "7.1.4",
		"@angular/compiler": "7.1.4",
		"@angular/core": "7.1.4",
		"@angular/forms": "7.1.4",
		"@angular/

[2019-01-02 12:33] ctinach commented on #198
Same here. Any solution?

[2019-01-09 10:57] IlCallo opened #199 "Cannot redeclare block-scoped variable 'ngDevMode'."
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Compile error is given when using the library with Angular 7.2 and TS 3.2

`ERROR in ../node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare bl

[2019-01-09 16:06] bfwg commented on #198
@swapnil-coditas can you provide the Angular version?

[2019-01-09 16:08] bfwg commented on #199
@IlCallo would you like to create a PR for this? I feel you have more knowledge in this area.

[2019-01-10 04:05] swapnil-coditas commented on #198
Using Angular 7.1.4

[2019-01-13 12:53] IlCallo commented on #199
A new angular documentation page have been added to address "how to create a library" topic, and the procedure I suggested is better explained there now.

https://next.angular.io/guide/creating-libraries#use-typescript-path-mapping-for-peer-dependencies

[2019-01-16 07:01] Yang-tzu-yi opened #200 "renderer listen document dragstart"
* **I'm submitting a ...**
  - [X ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

in ngx-drag-scroll.ts

this._renderer.listen('document', 'dragstart', function (e) {
   e.preventDefault();
});

should be

this.renderer_listren_dragstart = t

[2019-01-16 10:40] IlCallo commented on #199
Expanding on previous post, the solution should be as simple as removing

    "@angular/common": "^7.0.0",
    "@angular/compiler": "^7.0.0",
    "@angular/core": "^7.0.0",
    "tsickle": "^0.33.0"

from `dependencies`, and adding them to both `peerDependencies` and `devDependencies`.

[2019-01-17 08:42] #199 closed

[2019-01-17 08:42] #198 closed

[2019-01-19 08:47] swapnil-coditas commented on #198
Thanks a lot @bfwg

Just need to replace

with

[2019-01-21 22:28] fferaud opened #202 "Max index of drag-scroll-item"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
To be able to know the mx current index

* **What is the current behavior?**
The `(indexChanged)` event allows to get the current index. The `moveTo(index)` meth

[2019-01-22 09:19] mailmrmanoj opened #203 "Tooltip alignment issues after scroll"
I have a list of items that I plot using ngx-drag-scroll and on hovering of each number I'm displaying a custom tooltip based on the condition when the hovered number matches with the variable defined in controller.

![image](https://user-images.githubusercontent.com/7077567/51522393-41668c00-1e4f-11e9-8817-2136e432e920.png)

When I hovered on **6** I was able to see the tooltip for the same under

[2019-01-25 18:11] bfwg commented on #186
@Paul75 the correct way is to set a `width` to the `img`s, not `min-width`. Let me know if it doesn't work for you and I can reopen this.

[2019-01-25 18:11] #186 closed

[2019-01-25 18:13] bfwg commented on #187
Duplicate of #186

[2019-01-25 18:13] #187 closed

[2019-01-25 19:38] #164 closed

[2019-01-25 19:39] #161 closed

[2019-01-25 19:39] #178 closed

[2019-01-26 20:41] SaiMadhav9494 opened #204 "Trying to overwrite the drag-scroll-content class properties."
Hello, I'm trying to overwrite the drag-scroll-content class inside ngx-drag-scroll.js file to style the way that the scrollbar looks. For that I made a few changes by inserting test props in styles metadata of the DragScrollComponent as following,

[code]
I'm not sure that if I'm supposed to alter the library but the styles aren't being applied. The scroll bar still looks default.

[2019-01-27 21:50] bfwg commented on #204
Make sure you know what you are doing when altering the library. [here] has more information about the `drag-scroll-content` maybe you are doing something wrong.

[2019-01-27 21:50] #204 closed

[2019-01-28 16:02] SaiMadhav9494 commented on #204
Hi, I was able to hide the scroll bar by adding a wrapper around it, but my concern is to style the default scroll bar the way I want. I have gone through the issue you suggested but I'm still confused on how to get it done. I agree that I did not completely digest the code in the library. Can you suggest me a way to style the scroll bar given by drag-scroll-content??

[2019-01-28 18:02] bfwg commented on #204
Please take a look at [this section of the library](https://github.com/bfwg/ngx-drag-scroll/blob/develop/src/ngx-drag-scroll.ts#L201-L213). The `contentRef` component only carries some CSS property from the original element.

[2019-01-28 18:31] bfwg commented on #204
I assume you copied the `ngx-drag-scroll` folder from your `node_modules`. What I would do is to fork this repository and make the code change in the `src` folder, you can then build the library by running `npm run ngc`.

[2019-01-28 19:54] SaiMadhav9494 commented on #204
No I did not do anything rather than following the instructions on how to install and use it.

[2019-01-28 20:17] SaiMadhav9494 commented on #204
Ok, I'll try to fork the changes I've made previously.

[2019-01-28 21:06] kmturley commented on #195
I needed a solution working today, so switched to this library instead which supports Angular Universal:
https://github.com/sheikalthaf/ngu-carousel

[2019-01-29 19:13] Arley-Fernandez-Taximo commented on #196
Please any solution for this issue.

[2019-01-29 19:38] bfwg commented on #196
@Arley-Fernandez-Taximo Can you reproduce the bug with the demo project? I cannot reproduce the issue.

[2019-01-29 21:03] Arley-Fernandez-Taximo commented on #196
I tried to made a universal component for simplify the use in many other components.

# Any component
[code]

# Draggable component
[code]
# Draggable.ts
[code]

[2019-01-30 13:59] CrackerakiUA commented on #144
Hello, any progress on this?

[2019-01-30 21:07] bfwg commented on #144
It was on one of my working branches and I forgot about it. I'll push my changes and hopefully get it in by today.  Sorry about that 😅

[2019-01-31 06:34] CrackerakiUA commented on #144
Sounds nice, thank you

[2019-01-31 07:37] bfwg commented on #202
Hi @fferaud , I've added an `indexBound` attribute in 7.1.0 which should give you the max index allowed to the given container.

[2019-01-31 07:37] #202 closed

[2019-01-31 17:16] bfwg commented on #144
The change is in 7.1.0. You can add a ‘drag-disabled’ attribute on the child element, and it will disable dragging on that element.

[2019-01-31 17:16] #144 closed

[2019-01-31 17:17] bfwg commented on #144
Resolved in #205

[2019-02-01 15:58] Arley-Fernandez-Taximo commented on #196
Any solution for this issue.

[2019-02-01 16:12] Arley-Fernandez-Taximo opened #207 "ng-content is broken the actual behavior"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

## Basic usage

only for images or static content

[code]

## Advance usage

for display any component or dinamic content

[code]

* **What is the current behav

[2019-02-02 22:16] bfwg commented on #144
You task element is missing the `drag-scroll-item` attribute.
[code]

[2019-02-03 08:45] CrackerakiUA commented on #144
right after I adding  `drag-scroll-item` drag-scroll stopping to work. Tried the case you added and also:
[code]
and the next scenario:
[code]

[2019-02-04 00:38] bfwg commented on #144
That is strange. Can you reproduce in the demo app because it is working fine for me.

[2019-02-04 08:44] CrackerakiUA commented on #144
I used your example and made something like below which is not working:
[code]

[2019-02-06 12:28] CrackerakiUA commented on #144
@bfwg is my example working on your side?

[2019-02-11 20:32] bfwg commented on #196
Hi @Arley-Fernandez-Taximo , I'm on my vacation and I've looked into the issue with ng-content. Sadly I can't make the library to support ng-content in a short time. You can try to remove the ng-content and pass the data into `app-draggable` and create `drag-scroll-item` inside `app-draggable` as a workaround.

[2019-02-11 20:35] bfwg commented on #203
Hi @mailmrmanoj , this sounds like a compatibility issue, have you tried [Material2 tooltip](https://material.angular.io/components/tooltip/overview)?

[2019-02-11 20:35] bfwg commented on #196
Duplicated of #207

[2019-02-11 20:35] #196 closed

[2019-02-12 04:44] mailmrmanoj commented on #203
Hi @bfwg  Works with Material2 tooltip.Thanks

[2019-02-12 04:44] #203 closed

[2019-02-12 12:58] mrachwal commented on #156
I'm also facing this issue. Angular 7.1.4. In console I'm getting:
![image](https://user-images.githubusercontent.com/29977336/52636959-3e027580-2ece-11e9-9e56-4a8a1590857c.png)

[2019-02-13 17:22] 7ang0 opened #208 "*ngFor div does not appear inside of drag-scroll"
-drag-scroll style="height:2.5em;" [scrollbar-hidden]="true"-
  -div style="display:inline-block;padding-left:2.5em;padding-right:2.5em;"-alpha-/div-
  -div style="display:inline-block;padding-left:2.5em;padding-right:2.5em;"-bravo-/div-
  -div style="display:inline-block;padding-left:2.5em;padding-right:2.5em;"-charlie-/div-
  -div style="display:inline-block;padding-left:2.5em;padding-right:2.5e

[2019-02-14 19:17] scavassa91 opened #209 "Image gets cut when hide X scroll"
When you set the **hide-x-scroll** to **true** the last image gets cutted.
You can see on this print that I've taken from demo.

![sem titulo](https://user-images.githubusercontent.com/19716895/52811468-54e6ca80-307c-11e9-9442-7bb173db66f9.png)

[2019-02-28 09:25] Priyanka-09 opened #213 "Drag-scroll not working for two tables in one html page."
I have two tables in one page which , tried using drag-scroll for it.
But it was not working for both tables , worked only for first table ,for
second table - table was not even visible to user.

Do we have something like id in drag-scroll as we have in angular2 pagination?

[2019-02-28 21:53] bfwg commented on #209
Thanks for reporting the issue @scavassa91 , I'm actively working on it.

[2019-03-07 01:40] #209 closed

[2019-03-07 01:48] bfwg commented on #209
The fix is in 7.1.4. 🎉

[2019-03-10 19:38] Exocomp opened #215 "scrollbar-hidden doesn't work when you resize the browser window"
I'm using the following:

Angular 7.2.7
ngx-drag-scroll 7.1.4
Chrome 71.0.3578.98

Set 'scrollbar-hidden' to true with a window size that accommodates all the drag-scroll-items.
Then resize the window and you will see the scrollbars (both horiz and vert).

If you refresh the browser window so that the component is reinitialized then it works, so the issue is only when the browser window is large a

[2019-03-11 10:32] levytskyy opened #216 "Not work in Angular Universal 7.1.4"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

[2019-03-11 16:53] levytskyy commented on #195
Angular 7, same error:

../ngx-drag-scroll/lib/ngx-drag-scroll-item.js:1
(function (exports, require, module, __filename, __dirname) { import { Directive, ElementRef, Input, HostBinding, Inject } from '@angular/core';
                                                                     ^
SyntaxError: Unexpected token {
    at new Script (vm.js:80:7)
    at createScript (vm.js:274:10)
    at Object

[2019-03-11 20:49] levytskyy commented on #216
Found solution.
Add to package.json
"babel-cli": "^6.26.0",
"babel-preset-es2015": "^6.24.1",
and run before build  - "compile_ngx-drag-scroll": "babel node_modules/ngx-drag-scroll/lib -d node_modules/ngx-drag-scroll/lib --presets es2015"

[2019-03-11 22:16] Exocomp commented on #215
I have a hack to resolve the issue (just working with the public members), calling 'ngAfterViewInit' on window resize will resolve the issue. It's ugly but for the time being will suffice until this is resolved cleanly.

I see that there is already a private function 'onWindowResize', so a better solution would be to handle it cleanly in there.

[2019-03-19 02:01] dries11 commented on #208
This is the same for me.
My code looks like
`<drag-scroll scroll-x-wheel-enabled=true scrollbar-hidden=true class="ingredient-bar">
    <div drag-scroll-item *ngFor="let ingredient of ingredients" [className]="ingredient.inStock ? 'in-stock chips' : 'out-of-stock chips'" (click)="navigateToPantry(ingredient)" selected=true>
      <div>{{ingredient.name}}</div>
    </div>
  </drag-scroll>`

ngFor d

[2019-03-22 17:04] davidjm-taximo commented on #181
Hi please add this feature in the documentation.

[2019-03-28 04:09] shuped opened #217 "method moveTo can cause currIndex to enter undesired state"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Calling `ds.moveTo()` with anything above a value returned by `this.maximumIndex()` can cause the `ds.moveLeft()` method to not move the carousel left. Additionally, calling `ds.moveTo

[2019-03-29 17:06] bfwg commented on #217
Resolved in #218

[2019-03-29 17:06] #217 closed

[2019-03-29 18:18] #181 closed

[2019-04-01 15:36] linjie997 commented on #208
I have a similiar issue.
Using a *ngFor to create a component to use as drag-scroll-item and enabling [scrollbar-hidden]="true", the drag-scroll height is set to 0px.

`
<drag-scroll
    [scrollbar-hidden]="true"
    (snapAnimationFinished)="animationFinished()"
    (reachesLeftBound)="leftBoundStat($event)"
    (reachesRightBound)="rightBoundStat($event)"
    [snap-duration]="375">
    <div *ngFo

[2019-04-02 05:46] nviethuan commented on #149
I love it and wating this feature.

[2019-04-10 16:47] olaf89 opened #219 "Cannot compile with aot"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Cannot build my project with aot after importing drag-scroll

[code]

[2019-04-15 22:00] bfwg commented on #207
You need to add `ngProjectAs="drag-scroll-item"` to the ng-content element.
[code]

[2019-04-15 22:00] #207 closed

[2019-04-16 19:24] bfwg commented on #219
Resolved in #220

[2019-04-16 19:24] #219 closed

[2019-04-18 09:45] alpersilistre commented on #153
Unfortunately, I am having the same issue. I tried to use it as an inline template as well but no luck.

[2019-04-18 15:03] HighSoftWare96 opened #222 "Drag start and drag end output event"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Feature

[2019-04-19 18:34] Andi1990 opened #223 "How to limit scrolling"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
feature.

* **What is the current behavior?**
When scrolling through content by swiping on a mobile device there is no limitation of scrolled items in one swipe.

[2019-04-23 19:37] bfwg commented on #222
You can use `snapAnimationFinished` to detect when drag ends.

[2019-04-24 08:14] HighSoftWare96 commented on #195
I've solved this problem by converting the package to an ES2015 UMD module with babel and the transform-es2015-modules-umd like this:
`babel node_modules/ngx-drag-scroll/lib/ -d node_modules/ngx-drag-scroll/lib/ --presets @babel/preset-env  --plugins transform-es2015-modules-umd`

[2019-04-29 20:27] spencer-shupe-qhr opened #225 "Carousel momentum doesn't recalculate index before snap-animation"
* **I'm submitting a ...**
  - [ x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

On chrome in mobile view, dragging to scroll fast enough that the carousel hits either ends results in the index suddenly snapping the view back to approximately where you started. T

[2019-05-03 07:34] Inf0rmatix opened #226 "Not working with touch-interfaces"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
I want to report a bug, and will solve it within the next days.

* **What is the current behavior?**
On mobile devices, implementing ngx-drag-scroll swiping does

[2019-05-08 06:06] bfwg commented on #226
@Inf0rmatix What device are you using? Touch events are working fine on my iOS device.

[2019-05-08 06:45] Inf0rmatix commented on #226
I'm using Android.

[2019-05-08 12:42] IlCallo opened #228 "Prepare for Angular 8"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Unknown

* **What is the expected behavior?**
Package should be checked to work with Angular 8, when released (probably by the end of May, it's already in RC).

* **What is the motivati

[2019-05-08 13:19] IlCallo opened #229 "Error when there are no elements inside <drag-scroll> and scrollbar should be hidden"
* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Since 7.1.4, package has an error if elements inside `<drag-scroll>` are inserted dynamically using `*ngFor` (or any other situation when there are 0 elements inside I guess) and scrollbar should be hidden.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible

[2019-05-08 20:33] bfwg commented on #226
Thanks!

[2019-05-08 20:34] bfwg commented on #226
Resolved in #227

[2019-05-08 20:34] #226 closed

[2019-05-08 20:45] bfwg commented on #226
7.3.2 is out with the change.

[2019-05-16 20:47] enkc06 opened #232 "Cannot find type definition file for 'node'."
ERROR in node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.component.d.ts(1,23): error TS2688: Cannot find type definition file for 'node'.
node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.component.d.ts(33,27): error TS2503: Cannot find namespace 'NodeJS'.
node_modules/ngx-drag-scroll/lib/ngx-drag-scroll.component.d.ts(34,29): error TS2503: Cannot find namespace 'NodeJS'.

angular v7.2.15

[2019-05-17 21:04] Andi1990 commented on #223
any ideas?

[2019-05-17 22:47] bfwg commented on #223
Hi @Andi1990 , sorry I'm swarmed by work lately and I could not find a good time to implement this feature. If you like, you can submit a PR and I can do the code review for you.

[2019-05-19 08:34] Andi1990 commented on #223
Hi @bfwg I can try. What is your first guess to achieve this? I would say, it is by tracking onScrollHandler and limit the pixels?

[2019-05-20 11:19] osramesh006 opened #233 "Cannot read property '_elementRef' of undefined while using custom element"
<drag-scroll >
                  <app-course-card class="col-xl pl-2 pr-2" [card]="data" [title]="'mostViewed'" [isType]="'course'"
                    *ngFor="let data of mostViewed; let i = index" drag-scroll-item></app-course-card>
                </drag-scroll>

using version ::

**   "ngx-drag-scroll": "7.3.2",**

DiscoverPageComponent.html:12 ERROR TypeError: Cannot read property '_elementRe

[2019-05-21 06:36] bfwg commented on #223
One way is to track the distance in the on scroll handler and make sure it does go over the width of the item which is before or after the current index.
https://github.com/bfwg/ngx-drag-scroll/blob/develop/projects/ngx-drag-scroll/src/lib/ngx-drag-scroll.component.ts#L305-L306

You should also consider if this new feature will affect drag.

[2019-05-22 15:40] RobertCrowdis commented on #233
Also having this issue when assigning it to an <img> tag inside of two <ng-container> elements, 7.3.2. Going to try and find a solution..

[2019-05-22 18:43] RobertCrowdis commented on #233
After a big of debugging, I found that this can be avoided, at least in my case. It probably has to do with the way drag-scroll-item is found in nested elements - it doesn't behave very well.

In my case I started with this:

`
  <drag-scroll #carousel>
    <ng-container *ngIf="candyList">
      <ng-container *ngFor="let candy of candyList">
        <img drag-scroll-item [src]="candy.img">
      <

[2019-05-24 04:43] osramesh006 commented on #233
Thank @RobertCrowdis already i found the solution its working by using *ngIf

[2019-05-24 04:43] #233 closed

[2019-05-27 18:00] bfwg commented on #228
I'm going to upgrade the library to Angular 8 sometime this week.

[2019-05-30 00:07] bfwg commented on #229
Hi @IlCallo , the `drag-scroll-item` directive is missing in your code example. Can you try the below?
[code]

[2019-05-30 00:15] bfwg commented on #228
Resolved in #234

[2019-05-30 04:54] IlCallo commented on #228
Shouldn't you tag it as version 8.0.0, given that you switched to following Angular major version some time ago? 🤔
Or so I guessed, given that at a point you jumped from v2 to v7

[2019-05-30 06:42] IlCallo commented on #228
Also, have your checked it works even when ivy compiler is turned on?

[2019-05-30 07:22] bfwg commented on #228
Not yet, my projects are currently on Anguar 7. Good point about the versioning. I'll do that in the next PR.

[2019-05-30 09:14] IlCallo commented on #228
Yeah, no hurry, mines too. I'm just reminding everyone to get ready, to be able to migrade flawlessly later on :P
You should probably re-open the issue until you test this with Ivy, considering that's the major new feature into Angular 8

[2019-05-30 09:18] IlCallo commented on #229
Well... It's missing because I'm not using the "carousel" feature 🤔
I want to use it with the "free dragging" experience, like it's written in the README

[2019-05-31 17:53] bfwg commented on #229
hmm, I'm not sure what you mean by free dragging. Can you give me an example of what you are trying to achieve?

[2019-05-31 18:36] #222 closed

[2019-06-04 23:43] #154 closed

[2019-06-10 09:27] IlCallo commented on #229
This:
https://github.com/bfwg/ngx-drag-scroll/blob/e4cca35d54ab38c779aa82ba7bef41542c10a709/README.md#L53-L71

I'm not interested in:
https://github.com/bfwg/ngx-drag-scroll/blob/e4cca35d54ab38c779aa82ba7bef41542c10a709/README.md#L73

I should also note that, as soon as elements are actually added by the `*ngFor`, the package works as expected.

[2019-06-11 13:58] demisx commented on #228
We desperately need this too. Our Angular 8 upgrade effort is on hold until this (awesome) module supports it.

[2019-06-11 17:05] bfwg commented on #229
Ok, this is blocking you in any way? If not, I'll try to find time to investigate later this week.

[2019-06-11 17:08] bfwg commented on #228
@demisx , do you think you can submit a PR for Angular 8 support? I'm pretty busy at the moment to do the dev work but I will be happy to do the review for you.

[2019-06-11 17:23] pauloinfotec commented on #195
@HighSoftWare96 can you give more details about how install babel and use it with angular 5?

[2019-06-11 17:26] HighSoftWare96 commented on #195
Here you can find the documentation.
https://babeljs.io/docs/en/

First install Babel then the required plugins. Finally you can run that command.

[2019-06-11 17:30] demisx commented on #228
@bfwg I wish I could. I am a techlead/PM and, unfortunately, do not posses Angular knowledge to be able to help here. 😢

[2019-06-11 18:36] bfwg commented on #195
@HighSoftWare96 would you like to make a PR to improve the library?

[2019-06-11 19:07] IlCallo commented on #229
No, absolutely, i came back to this because I have a free week and I'm going through all issues I opened last month to help close them, but no hurry

[2019-06-13 09:22] MFOFANA154 opened #242 "ngx drag scroll loop"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

I would like to know if it's possible to create a loop picture with your module.
Because at the moment i tried to create it like this :
      ngOnInit() {

[2019-06-14 10:24] HighSoftWare96 commented on #195
Yeah I would but you should add the babel script in your package process so it runs automatically each time you change something.. Where should I put that? In the package.json?

[2019-06-16 03:01] shuped commented on #242
Could you elaborate on what you're trying to achieve / what the problem is? When you say you're trying to make a "loop picture", what behaviour are you looking for exactly?

If your question is more general than being strictly an issue with or feature request for ngx-drag-scroll, consider asking on a forum like StackOverflow to get more exposure to people looking to suggest solutions.

[2019-06-16 05:53] bfwg commented on #242
Could this be related to https://github.com/bfwg/ngx-drag-scroll/issues/149?

[2019-06-27 19:34] MrSnappingTurtle commented on #228
Hey, I've tried upgrading the packages myself but unit tests fail and I don't have the library understanding to fix them. Could you please take a look at my PR and maybe give me a hint as to what to do:

https://github.com/bfwg/ngx-drag-scroll/pull/243

[2019-06-27 19:42] bfwg commented on #228
Sure, I'll take a look for you.

[2019-06-30 03:59] bfwg commented on #228
I couldn't get the unit tests in #243 to work. Can someone else take a look?

[2019-06-30 04:55] bfwg commented on #228
Nvm, I think I got the test fixed.

[2019-07-11 07:57] AviadBelulu opened #244 "Error in console after upgrade to 7.4.3"
I have noticed a new issue after upgrading to 7.4.3
using angular 8.1.0
Chrome Version 75.0.3770.100

The package is working(!) but when starting the page I am getting this issue in the console:

ng:///AppModule/TabsetComponent.ngfactory.js:115 ERROR TypeError: Cannot read property '_elementRef' of undefined
    at DragScrollComponent.push../node_modules/ngx-drag-scroll/fesm5/ngx-drag-scroll.js.Dr

[2019-07-14 01:07] bfwg commented on #228
Resolved in #243

[2019-07-14 01:07] #228 closed

[2019-07-14 01:16] bfwg commented on #244
7.4.3 does not fully support Angular 8.0. Can you try the latest release(8.0.0-beta.1)?

[2019-07-14 05:45] AviadBelulu commented on #244
Thank you.
The issue is the exact same (in "ngx-drag-scroll": "^8.0.0-beta.1",)
I hope you will be able to resolve it soon :)

[2019-07-19 12:50] shivalipawar commented on #208
I'm facing the issue it doesn't work with nested ngFor items even if its seen that drag scroll item is applied to it as below,

`<app-product-card _ngcontent-lqm-c7="" class="margin__threePercent ng-star-inserted" drag-scroll-item="" fxflex="" _nghost-lqm-c11="" ng-reflect-fx-flex="" ng-reflect-img-src="https://images-na.ssl-images-a" ng-reflect-name="Key-kpz01" style="flex: 1 1 0%; box-sizing: bo

[2019-07-25 08:44] nemoyans commented on #229
I met exactly the same problem...

[2019-07-27 19:25] #244 closed

[2019-07-30 07:25] Hasan-git commented on #233
same as here

[2019-08-05 12:31] jneves92 opened #247 "Memory leak with lazy loading"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

attachment contains the source code and an explanatory video

Video: https://streamable.com/a930i

[DragScrollLeak.zip](https://github.com/bfwg/ngx-drag-scroll/files/3467545/DragScrollLeak.zip)

[2019-08-16 19:41] diegomachado1 commented on #208
I'm in the same situation. I need to use it with *ngFor.
Does anyone solved this?

[2019-09-10 12:54] Iworb opened #249 "Not visible inside expansion panel"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
When property `scrollbar-hidden` set to `true` on `drag-scroll` used inside expansion panel which is closed (by default) calculated height of wrapper is invalid (zero), because element

[2019-11-26 10:49] Gabb1995 opened #250 "Scrollbar Hidden not working"
[code]

I added the option `scrollbar-hidden` but I still see the scrollbar at the bottom on desktop devices. When I inspect element I see that `drag-scroll-content` div has the attribute `overflow: auto`.

To fix it myself I had to do:

[code]

which is not nice. Is it possible to let me know if im doing something wrong?

[2019-12-20 08:20] hkkhchan commented on #181
if I use this solution, the user will see the animation with the first item move to the specific item.
I would suggest below. Do you think if it is ok?
[code]

[2020-01-02 02:51] thomascayne commented on #250
I agree with @Gabb1995 I am creating a scrollable tab, where the tab items (title bar) shows buttons to the left/right. There was a blank space where the scrollbar was which pushing the tab content down. The following removed the empty space where the scrollbar was without affecting functionality of ng-drag-scroll.

[code]

[2020-01-04 19:07] thomascayne commented on #249
@Iworb Just found this and hope you found a solution. I made a stackblitz from your demo: [https://stackblitz.com/edit/ngx-drag-scroll-issue-249-nn9qtr?file=app%2Fselect-overview-example.html](https://stackblitz.com/edit/ngx-drag-scroll-issue-249-nn9qtr?file=app%2Fselect-overview-example.html)

If you toggle the scrollbar by the external button the dropdown (not auto close) has to be open to view

[2020-01-21 12:47] ajaybabum commented on #10
Hi @tommykamkcm  / @bfwg  Can you please drop the Demo for ngb-tabs with scroll

Thanks

[2020-01-22 22:29] Defmetalhead opened #251 "scroll-x-wheel-enabled does not scroll the container horizontally, it simple disables body scrolling"
* **I'm submitting a ...**
  - [* ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
scroll-x-wheel-enabled does not scroll the container horizontally, it simple disables body scrolling

* **What is the current behavior?**

scroll-x-wheel-enable

[2020-01-23 21:05] Defmetalhead opened #252 "reachesRightBound && reachesLeftBound output true onInit most of the time."
* **I'm submitting a ...**
  - [* ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
both reachesRightBound && reachesLeftBound are TRUE onInit most of the time.

* **If the current behavior is a bug, ple

[2020-01-25 12:06] IgorKurkov opened #253 "horisontal scroll is shaking when try to make full swipe on mobile chrome 79 latest"
* **I'm submitting a ...**
  - [*] bug report
 template.

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
it shakes on chrome mobile 79 when scroll horizontally

<iframe width="560" height="315" src="https://www.youtube.com/embed/dquAtbBeTzQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowful

[2020-01-27 05:06] Iworb commented on #249
@thomascayne Thanks, food job! But it looks kinda tricky. I hope this workaround will be the part of library someday.

[2020-02-07 10:12] IgorKurkov commented on #253
up

[2020-02-08 12:26] keserwan opened #254 "moveLeft, moveRight & moveTo don't work with Angular 9"
With Angular 9  moveLeft, moveRight & moveTo don't work.
I updated ngx-drag-scroll to the latest 8.0.0-beta.2 because with the latest stable version it was crashing.

[2020-02-10 18:21] #127 closed

[2020-02-10 18:23] bfwg commented on #195
Sorry I totally missed your comment. Yes, that would be in the package.json.

[2020-02-10 18:32] bfwg commented on #208
The `drag-scroll` component needs a fixed width and height. Can you make a [plnkr](https://plnkr.co) to show me what exactly is going on?

[2020-02-10 18:33] bfwg commented on #213
Can you make a [plnkr](https://next.plnkr.co/) to show me the issue?

[2020-02-10 18:49] bfwg commented on #215
Were you using Windows Chrome or MacOS Chrome?

[2020-02-10 18:50] bfwg commented on #216
Relates to https://github.com/bfwg/ngx-drag-scroll/issues/195

[2020-02-10 18:50] #216 closed

[2020-02-27 17:22] arman2r commented on #242
Hi, do you have any idea of ​​why you can't drag the images of any part of the page to my desktop, that is, the complement drag-scroll blocks all the images on the page, is there a way to correct that?

[2020-02-27 17:57] bfwg commented on #242
Can you give me an example?  @arman2r plnker whould be nice

[2020-02-27 19:54] arman2r commented on #242
Thanks for your prompt response, I do not have an example in plunker, but the simple case of replicating, just try to drag an image that is outside the drag-scroll and you will realize that the image does not drag is as if a layer invisible will block all content and therefore cannot be saved on the pc

[2020-02-27 20:41] bfwg commented on #242
I believe [this](https://github.com/bfwg/ngx-drag-scroll/blob/develop/projects/ngx-drag-scroll/src/lib/ngx-drag-scroll.component.ts#L256) is where the issue is. We should added the on drag listener on the carousel, not the global document.

I’m pretty busy today, but I can quickly do the dev review if you are free to throw in a Pull Request. If not, I’ll find time to patch it up later today or tom

[2020-02-27 21:53] arman2r commented on #242
How can I get to correct the initialization of the component by specifying the parent element or div of the scroll-drag so that it does not take the whole document.
Try placing the code in an ngAfterViewInit but apparently the component starts only and before the afterViewInit arrives, any ideas?

[2020-02-27 22:04] bfwg commented on #242
Have you tried changing the listener to `this._contentRef.nativeElement`
[code]

[2020-02-28 15:07] arman2r commented on #242
@bfwg I applied that function and initialized it on the onInit but I didn't get any changes

[2020-03-03 16:34] arman2r commented on #144
@bfwg  With what or why? when using drag-scroll blocks all the elements of ghost drag image on the website, I can't find how to solve this

[2020-03-03 17:53] bfwg commented on #144
This issue is a dup, please see my comments https://github.com/bfwg/ngx-drag-scroll/issues/223#issuecomment-494259349

I've pointed out the issue. @arman2r

[2020-03-09 10:35] AvDemeisen commented on #208
if anyone is having issues hiding the scroll bar when using ngFor, use *ngIf="array.length",  that way drag-scroll wont determine the size of the container prior to the data being loaded.

[2020-03-24 12:37] yociduo commented on #250
The root cause is that the component can't get the event when the child node width and height change. For example, the child component is an image, After image loading, the image will be loaded as the actual size, but the component can't the real size when initialize.

[2020-03-27 22:48] AkshayRaut1321 opened #255 "input properties are not working"
* **I'm submitting a ...**
  - [x ] bug report

* **What is the current behavior?**
Basic example is working that doesn't need any configuration using Input properties. But when I set any property then it doesn't change anything as if the property was not applied at all.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**  yo

[2020-03-31 15:47] Fl0r14n opened #256 "touch drag does not work"
* **I'm submitting a ...**
  - [ x] bug report

* **What is the current behavior?**

touch drag does not work

* **What is the expected behavior?**

touch drag should work

* **Please tell us about your environment:**

Angular ^9.0.3
ngx-drag-scroll ^8.0.0-beta.2
Browser: Chrome and Samsung Internet

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how t

[2020-04-01 08:45] acharyaks90 opened #257 "Cannot read property 'nativeElement' of undefined at DragScrollComponent.disableScroll"
Error come at start.

Cannot read property 'nativeElement' of undefined
    at DragScrollComponent.disableScroll (ngx-drag-scroll.js:551)
    at DragScrollComponent.ngOnChanges (ngx-drag-scroll.js:232)
    at DragScrollComponent.wrapOnChangesHook_inPreviousChangesStorage (core.js:26430)
    at callHook (core.js:3896)
    at callHooks (core.js:3856)
    at executeInitAndCheckHooks (core.js:3797)

[2020-04-01 20:34] bfwg commented on #257
hi @acharyaks90 can you give a bit more information like what angular version are you running, and how are you using the library?

[2020-04-01 20:35] bfwg commented on #254
Supporting angular 9 is on the way

[2020-04-03 03:40] acharyaks90 commented on #257
@bfwg  yes
angular version  9.0.0
and plugin version 7.4.3
After removing drag-scroll-x-disabled="true"  error removed.

[2020-04-10 07:47] keserwan commented on #254
Thank you for updating on this

[2020-04-29 07:05] blasco opened #258 "Is it possible to put a div with other html content init as a drag-scroll-item"
Seems to be working with an img as in the example, but I cannot get it to work with a div with other elements inside. Is this a limitation? Is there any example available?

[2020-04-29 08:14] blasco commented on #258
Solved. The issue seems to be giving a width of 100% to the component.

[2020-04-29 08:14] #258 closed

[2020-04-29 16:55] blasco commented on #225
Same issue here, any possible solution?

[2020-05-17 21:19] CodeEpiphany commented on #255
Also seeing this behavior with scrollbar-hidden.

[2020-06-10 00:17] LukeHowellDev commented on #254
Has there been any progress on this issue? Anything I can do to help?

[2020-06-10 01:15] bfwg commented on #254
Hi @LukeHowellDev , can you check again. I just merged #259

[2020-06-10 01:17] bfwg commented on #256
Angular 9 support is out #259

[2020-06-10 01:17] #256 closed

[2020-06-10 01:17] bfwg commented on #257
Angular 9 support is out #259

[2020-06-10 01:17] #257 closed

[2020-06-10 01:17] bfwg commented on #254
Let me know if you are still running into issues and I'll reopen this. Thanks!

[2020-06-10 01:17] #254 closed

[2020-06-10 03:46] retkpop commented on #156
@bfwg  Not support Angular 8+ ?

<img src="https://i.imgur.com/31h8Ywd.png" style="width: 100%"/>

[2020-06-10 04:03] LukeHowellDev commented on #254
@bfwg Looks like that took care of it. Thanks for the quick response.

[2020-06-10 04:05] bfwg commented on #156
I'm currently working on the hotfix.

[2020-06-10 04:06] bfwg commented on #254
There seems to be a tiny issue with 9.0.0-beta.1 and I'm working on a fix. Please check later for 9.0.0-beta.2

[2020-06-10 04:09] bfwg commented on #156
@retkpop can you try 9.0.0-beta.2?

[2020-06-10 04:12] retkpop commented on #156
@bfwg thank u. It working

[2020-06-12 22:04] Anil-sk commented on #247
Any updates on this? when it will be fixed?

[2020-06-12 23:17] bfwg commented on #247
hi @Anil-sk , I've been busy with the Angular 9 support lately. I can take a look next week when I have time. Meanwhile, feel free to contribute to the project if you want.

[2020-06-16 01:32] kzntswsk commented on #26
Hey, this is by far the best ng2 carousel library! I can't seem to get it to work on mobile, though.

- Demo app works fine on desktop and mobile
- My code only works on desktop. Drag doesn't work on mobile

I've set width:100% on drag-scroll, on a wrapper outside of drag-scroll and on a div inside drag-scroll (all possible combinations) and it's still not working.

Is there any additional library

[2020-06-16 08:05] bfwg commented on #26
Hey @kzntswsk , thanks for the feedback. Can you make a small demo with https://plnkr.co/? I can't help you without toying your code 😄

[2020-06-23 15:01] Anil-sk commented on #247
hi, @bfwg Thank you. Can you resolve this issue? I really love this and would like to use it on my project :)

[2020-06-23 20:02] bfwg commented on #247
@Anil-sk I spent sometime today doing the investigation and it seems this is more an Angular problem than a problem with this library. The Angular issue: https://github.com/angular/angular/issues/13725.

It seems the memory problem will go away if you are building your app with the prod flag. I'm going to close this issue for now and please let me know if you feel that this needs to open again.

T

[2020-06-23 20:02] #247 closed

[2020-06-25 17:33] blasco opened #260 "Not working as component with ng-content"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

The component is not working when elements are provided with <ng-content>. I think it is useful to have this component inside another component, the motivation is to customize style an

[2020-06-25 18:57] Anil-sk commented on #247
@bfwg Thank you so much, will let you know if this needs to be open again :)

[2020-07-03 04:31] retkpop opened #261 "The last page number displayed does not match"
Close

[2020-07-03 04:41] retkpop commented on #261
<img src='https://ibb.co/xFhgXd0' />

[2020-07-03 04:55] #261 closed

[2020-07-03 12:31] abdelhadibentabet commented on #252
Same issue reachesLeftBound and reachesRightBound output true and moveLeft moveRight nor working while drag scrolling works

[2020-07-03 17:04] bfwg commented on #252
Can you provide a https://plnkr.co or codeine?

[2020-07-06 16:14] OctavioSI opened #262 "Can't use other draggable elements in page with drag-scroll"
* **I'm submitting a ...**
  - [ x ] bug report

* **Do you want to request a *feature* or report a *bug*?**
*bug*

* **What is the current behavior?**
I want to use ngx-drag-scroll as an element in my page but in other parts of my screen I need to drag some elements using simple HTML5 draggable feature. If a <drag-scroll> element is present in the page, other HTML5 elements lose their draggable f

[2020-07-10 08:27] Viktor-Bredihin commented on #260
any workaround? This library is not useful without this functionality, since u would have to copy past navigation logic in every component

[2020-07-10 15:49] bfwg commented on #260
This library doesn't support this functionality at the moment. Duplicate #262 . I'm very busy with work recently. If you like to help, a PR is more than welcome. 😄

[2020-07-10 15:52] bfwg commented on #260
You can wrap your ng-content with a drag-scroll-item wrapper.
[code]

[2020-07-10 16:11] Viktor-Bredihin commented on #260
why would I need carousel with one item? can u provide a full example in case I didn't get you right?

[2020-07-10 16:17] bfwg commented on #260
Sorry, I should've mentioned that this work around only will work for one large item. Multi-item drag-scroll with ng-content is not supported by the library at the moment.

[2020-07-10 16:19] Viktor-Bredihin commented on #260
Got it, thanks. Then I would have to copypast it everywhere for now

[2020-07-10 19:30] Mangdar opened #263 "i got error when run npm run dev:ssr"
D:\Workspace\Frontend\whitesidev2\dist\whitesidev2\server\main.js:171203
    Object(tslib__WEBPACK_IMPORTED_MODULE_0__["__metadata"])("design:paramtypes", [WheelEvent]),
                                                                                   ^

ReferenceError: WheelEvent is not defined
    at Module../node_modules/ngx-drag-scroll/__ivy_ngcc__/fesm2015/ngx-drag-scroll.js (D:\Workspace\Fr

[2020-07-13 20:54] blasco commented on #260
As a walk-around, it does work with ngFor, so we can pass the data to the component as an @Input. Not great, but better than copy pasting...

[2020-07-13 21:06] Viktor-Bredihin commented on #260
each carousel needs it's own design, how do you propose to pass array of custom html elements to the component?

[2020-07-14 00:26] blasco commented on #260
Maybe the code owner can guide us about why we this is not working and we can all find a solution.

[2020-07-14 09:53] ChrisMGilbert commented on #260
I'm not sure if this is directly related to this issue or not but it would be nice to know one way or another so I can stop trying to fix the unfixable!

I can display a number of components in an ngFor no problem and the drag functionality works fine however the navigation buttons/links only ever navigate the list to the first item and the (indexChanged) event never appears to be fired.

[code]

[2020-07-21 11:46] blasco commented on #263
Same here, it started happening after upgrading to version 9. For the moment you can roll back to 8.0.0-beta.2 to make it work with angular universal. It shows a warning though, but at least it doesn't break:
[code]

[2020-08-04 09:21] Thomas1664 commented on #250
I have the same problem and I am unable to override it:
[code]

Please fix it!!!

[2020-08-04 16:38] bfwg commented on #250
Hey @Thomas1664 , which version of the library are you using? Have you tried the latest release?

[2020-08-04 16:45] Thomas1664 commented on #250
package.json:
[code]

[2020-08-04 17:51] bfwg commented on #250
I'm having a hard time reproducing the issue on my end. I would be grateful if you can create a https://plnkr.co/ with your use case so I can work the fix form there.

[2020-08-04 21:27] Thomas1664 commented on #250
the problem is that although I disabled scrollbars, ```.drag-scroll-content``` has ```overflow-x: auto```. But is should be hidden since scrollbars are disabled.

[code]

I think I have a solution for this problem:

The method [enableScrolling](https://github.com/bfwg/ngx-drag-scroll/blob/1c31560e5b3eb5fce7123127203f49e16d3ce848/projects/ngx-drag-scroll/src/lib/ngx-drag-scroll.component.ts#L487) i

[2020-08-06 15:27] DanteDeRuwe commented on #250
Have the same issue
No scrollbars, but if you zoom in and out they're there. sometimes they show up as lines randomly

[2020-08-07 03:52] bfwg commented on #250
Yes please @Thomas1664

[2020-08-11 05:52] blasco commented on #263
Any news on this?

[2020-08-11 06:51] bfwg commented on #263
hi @blasco , I haven't got a chance to look into this. If you know the solution, feel free to submit a PR.

[2020-08-26 05:06] WynieCronje commented on #252
I tried to create an example in stackblitz. While I struggled to reproduce it.  I realized that when using a shared module the Directive for `drag-scroll-item` does not export correctly:

Therefore `@ContentChildren(DragScrollItemDirective) _children: QueryList<DragScrollItemDirective>;` Returns no items.

Resulting in invalid calculations on Left and Right Bounds
https://github.com/bfwg/ngx-drag-

[2020-08-26 05:27] WynieCronje commented on #252
Ignore  my previous post :)

I now know what is happening. If you do not have direct child content. It returns none for:
`@ContentChildren(DragScrollItemDirective) _children: QueryList<DragScrollItemDirective>;`

Example of direct child vs warpping div
https://stackblitz.com/edit/drag-scroll-zero-items-working?file=src/app/app.component.ts

WRAP:
[code]

DIRECT:
[code]

[2020-08-27 16:43] bfwg commented on #252
Thanks for looking into this @WynieCronje . Do you mind creating a PR to resolve the issue since you have a pretty good idea for the it?

[2020-09-02 10:51] blasco commented on #263
@bfwg Thank you for the great work. Unfortunately I have no clue what is causing the issue, for the moment I'm staying with 8.0.0-beta.2 version.

[2020-09-02 10:52] blasco commented on #225
As a provisional solution, disable the snap animation, with out the animation the component works perfectly fine.

[2020-09-03 17:50] Bidthedog commented on #263
I'm getting this issue after upgrading to Angular 10 also, mind you, I couldn't tell you if it was working previously as I've also recently migrated to using SSR / Universal, so it could have been there for v8.x too.

I've done a bit of investigation, and this occurs whenever I include a `ViewChild` in my component as follows:

[code]

I need this to be able to access `currIndex` for implementing

[2020-10-03 12:31] ErraticFox commented on #26
I've also encountered this. I can't do a plnkr right now but it seems to only do this with `scrollbar-hidden="true"` whereas just the `scrollbar-hidden` doesn't do anything.

[2020-10-07 16:32] blasco commented on #263
Any updates on this? Thank you again

[2020-10-07 16:42] #252 closed

[2020-10-07 16:43] bfwg commented on #263
@blasco I'll try to find time today and take a look. Can you provide a piece of code demo using https://plnkr.co/, or just steps to reproduce this?

[2020-10-08 21:19] GravlLift opened #267 "Snap Alignment Option"
* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

It'd be great if we could specify the side of the container to snap to.

* **What is the current behavior?**

Currently, when snapping is enabled (like it is by

[2020-10-12 19:42] omararturo commented on #26
The problem is that events are not fired in Chrome Dev Tools in device mode

[2020-10-21 11:39] MarcGilbertSparte commented on #263
We've got the same issue with 9.0.0-beta.4, works with 8.0.0-beta.2.

Great package btw thank you for your work !

[2020-10-22 12:13] blasco commented on #263
@bfwg Sorry I haven't been able to set up a demo. The steps to reproduce are simple, just deploy a Angular Universal app and try to use the component, it will fail with the latest version.

[2020-11-19 11:34] blasco commented on #260
@Viktor-Bredihin True that each carousel has its own design, but still, making components reusable is very important. For example, I have a carousel where I have arrows for the next and previous, this behavior is independent of the content of the carousel. With the current design, I need to make 3 different carousels that look exactly the same which have the exact same behavior, just because the c

[2020-11-25 08:35] BizzottoClaudio commented on #156
I have the same problem (i'm on windows).
Upgrading from angular 8 to angular 9 and using "ngx-drag-scroll": "^9.0.0-beta.4"
The import still cannot be found.
Also i see that this repo hase the last release on 6 Jun - 9.0.0-beta.2 but on NPM the latest is 9.0.0-beta.4 and has been release 3 month ago

[2020-11-27 22:23] angularuser2 opened #268 "indexChanged doesn't triggered"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Sometimes indexChanged event doesn't triggered when dragging or scrolling.

You can reproduce this on your demo page. Just try to drag the carousel to the right and the back to the left

[2020-12-03 21:54] angularuser2 commented on #268
Hi @bfwg! Do you have any news on this?

[2020-12-04 08:05] bfwg commented on #268
Hi @angularuser2 , I haven't got a chance to look at this. I'll try to find time this weekend and take a look.

[2020-12-06 18:47] Coldplayer1995 commented on #242
Looks like this is dead but I am struggling to make this working, there is no problem with removing items from the start and imediatelly add them at the end. The problem here which I am facing is with scrollbar jumping. Some people suggested to use fixed position once the element ref scroll is changed but it is very frustrating. Anyone has any idea how this could be implemented?

[2020-12-07 14:39] nickmunch opened #269 "Scrollbar-Hidden disables horizontal scrolling on mobile."
* **I'm submitting a ...**
  - [ ] bug report

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
When scrollbar-hidden is given a value from the template, the drag-scroll stops being able to scroll on mobile. This happens whether the value is set to true or to false. A desktop view still allows scrolling, just not the mobile view.

* **Wh

[2020-12-07 14:56] tonnystark commented on #263
I got the same issue.

[2020-12-08 21:57] Coldplayer1995 commented on #242
![ngx-drag](https://user-images.githubusercontent.com/26097826/101546123-3ca61500-39a0-11eb-94fe-13837329c0f0.gif)
As you can see here, the scroll did happen but when I shift an item it is moving to the new position. I would like to prevent it from moving any ideas?

[2020-12-09 05:31] bfwg commented on #269
Hi @nickmunch thanks for reporting. Can you make a quick [plnkr](https://plnkr.co/)?

[2020-12-09 05:36] bfwg commented on #268
Hi @angularuser2 ,do you think you can make a PR for this?

[2020-12-10 06:22] romulodanzot commented on #260
`<drag-scroll>
      <div drag-scroll-item class="hide-element"></div>
      <ng-container [ngTemplateOutletContext]="contextTpl" [ngTemplateOutlet]="customSelectorTpl || defaultSelectorTpl">
      </ng-container>
 </drag-scroll>

.hide-element{
      display: none !important;
}
`
while fixing the bug. It worked for me.

[2020-12-10 06:28] romulodanzot commented on #260
[code]
[code]

while fixing the bug. It worked for me.

[2020-12-12 20:01] angularuser2 commented on #268
Hi @bfwg , I'm not sure since I'm novice in Angular. This issue is quite significant for me. So if you don't have a chance to fix this, please let me know and I'll try to make a PR.

[2020-12-13 06:07] Arashatami opened #270 "Support for RTL direction"
Hello
Please Support for RTL direction !!!
if direction set to RTL  moveLeft or moveRight and .... have many bugs !

[2020-12-13 20:37] Coldplayer1995 commented on #242
@bfwg  I think I have almost done the feature implementation for this one. It also fixes the index problem. I would like to open a PR but I am not a contributor on this
![ngx-dragimprovedddd](https://user-images.githubusercontent.com/26097826/102023084-f4616b00-3d82-11eb-97a6-d2cecad253a5.gif)

[2020-12-15 06:28] Jonatino opened #271 "Safari Container Height is 0px"
* **I'm submitting a ...**
  - [ x ] bug report

* **What is the current behavior?**
Initial height for the container is 0px on height.

Screenshot: https://dl.dropboxusercontent.com/s/ndqr7mbopwvm4is/chrome_S4R3t3HH6f.png

html
[code]

scss
[code]

* **What is the expected behavior?**
Height should match the fixed height of the drag-srcoll container.

* **Please tell us about your environment:**

[2020-12-17 05:30] CodeEpiphany commented on #271
I had to do something like:
[code]
  and it worked across all devices.

[2020-12-23 12:05] IgorKurkov opened #272 "Working very slow on mobile devices and not support swipe gestures, also has shaking while scrolling"
* **I'm submitting a ...**
  - [ x ] bug report

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
buggy using on mobile devices, slow behavior, not swiped by gestures, sometimes shaking while scrolling on mouse wheeling

* **What is the motivation / use case for changing the behavior?**
support for mobile devices

* **Please tell us about your en

[2021-01-11 07:44] darshitmaniar opened #273 "moveLeft, moveRight & moveTo don't work with Angular 10"
Move Left, Move Right, and MoveTo don't work with Angular 10

I am using Angular 10.2.0.

Can you please fix it ASAP.

[2021-01-13 03:04] Another-Sam opened #274 "not compatible with Angular 11"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
feature

* **What is the current behavior?**
not compatible with Angular 11

* **If the current behavior is a bug, please provide the steps to reproduce and if p

[2021-01-13 18:12] blasco commented on #263
Any progress with this, is it solved with angular 11?

[2021-01-13 18:14] blasco commented on #263
I think the solution could be to use this to isolate the browser dependent code:

[code]

[2021-01-20 11:08] malwinalesniewska opened #275 "Using ngx-drag-scroll in ng bootstrap modal caused flash while opening modal"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
*
Report a bug

* **What is the current behavior?**
*
I use ng bootstrap modal in my application. When I add drag-scroll to my modal-component, opening this moda

[2021-01-21 12:42] blasco commented on #274
I'm stuck with this same situation... also not working with SSR. It's so unfortunate, this component is simply awesome.

[2021-01-23 05:11] bfwg commented on #268
Hey @angularuser2 , happy new year. My baby girl just born, and I don't have a lot of time looking into this. However, if you want to take a look and create a PR, I will be happy to guide and do the review for you. Thanks!

[2021-01-23 05:22] bfwg commented on #270
Hey can you elaborate on that? Have you tried setting the initial index to the last item in the carousel?

[2021-01-23 05:25] bfwg commented on #242
@Coldplayer1995  you are welcome to open a PR, and I will merge it for you. You will become a contributor of this project once the first PR merges.

Happy new year and I'm looking forward working with you on your PR.

[2021-01-23 05:26] bfwg commented on #271
Thanks @epiphanizer for the answer.

[2021-01-23 05:26] #271 closed

[2021-01-23 05:27] bfwg commented on #263
@blasco do you have a working solution?

[2021-01-23 05:30] bfwg commented on #275
I can't seem to open your example https://angular-fha7kn.stackblitz.io

[2021-01-23 13:57] malwinalesniewska commented on #275
maybe try this one https://stackblitz.com/edit/angular-fha7kn

sob., 23 sty 2021 o 06:31 Fan Jin <notifications@github.com> napisał(a):

[2021-01-24 11:58] blasco commented on #263
@bfwg  Unfortunately not, I'm just stuck with version 8.0.0 which seems to work for Angular 11 and SSR

[2021-01-25 02:05] bfwg commented on #275
I see the issue now, but I'm not sure how to solve it, honestly. If you have time, I would recommend you play around with the example from source with ng-model and see if you can spot which line of code is causing this.

[2021-02-08 19:08] blasco commented on #260
@romulodanzot it should be <ng-content>, I've tested your proposed solution and unfortunately it doesn't work.

[2021-02-10 10:15] mordehi commented on #273
Hi @bfwg! Do you have any news on this?

[2021-02-10 10:16] mordehi commented on #274
Hi @bfwg! Do you have any news on this?

[2021-02-11 13:25] vms2108 commented on #269
I have the same problem

[2021-02-12 15:53] bfwg commented on #273
hi @mordehi , have you tried 9.0.0-beta.2? If that doesn't work for you, could you create an example?

[2021-02-12 15:55] bfwg commented on #274
I'm working on Angular 11 support guys.

[2021-02-13 06:33] romulodanzot commented on #260
I use it for a custom component, like "multiselect", that showing the selected values. This is my implementation.

1. Custom directive:
[code]
2. "Multiselect" Component:
[code]
3. So, Inside the component (**custom-multiselect**) access the **ng-template** with this code:

[code]
4. And set the input [ngTemplateOutlet] with the **customSelectorTpl** variable.
[code]

I hope it can work for you. L

[2021-02-13 06:33] romulodanzot commented on #260
I use it for a custom component, like "multiselect", that showing the selected values. This is my implementation.

1. Custom directive:
[code]
2. "Multiselect" Component:
[code]
3. So, Inside the component (**custom-multiselect**) access the **ng-template** with this code:

[code]
4. And set the input [ngTemplateOutlet] with the **customSelectorTpl** variable.
[code]

I hope it can work for you. L

[2021-02-14 21:04] Reza-Javadpour commented on #215
You can use bellow style to fix this problem. Enjoy it.
[code]

[2021-02-15 22:04] laurenwithcats opened #276 "Request for drag tolerance"
* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Yes to both

* **What is the current behavior?**
Currently, I am using the drag-scroll component to create a carousel of clickable linked elements. However, near

[2021-02-18 11:50] lucaritossa commented on #262
😢  I am in the same situation with an angular project that is using PrimeNG (v8) p-table and its drag system (based on standard HTML5 draggable feature).
Added ngx-drag-scroll for a specific need (that doesn't involve PrimeNG components) the side effect is a non-working drag&drop feature of PrimeNG components.

[2021-02-27 06:45] #262 closed

[2021-03-05 17:23] adkam commented on #274
@bfwg Thanks for working on this! Is there a timetable for a release?

[2021-03-06 05:18] bfwg commented on #274
11.0.0-beta.1 is out! Please give it a try.

[2021-03-16 14:37] blasco commented on #274
Thank you for your great work @bfwg ! Is the 11 version SSR compatible?

[2021-03-17 15:20] bfwg commented on #274
Sadly, it's not at the moment. I'm straggling to find time maintaining the project, and any help would bu much appreciated. 😃

[2021-03-18 09:21] blasco commented on #274
I've sent you an email to the account you have listed in your github profile regarding a possible collaboration, but I don't know if that info it's updated or if it has reached you. I don't know if such a collaboration would be an option in order to help you maintain the project. Let me know :)

[2021-03-18 21:49] bfwg commented on #274
I haven't received your email @blasco . Are you sending to the right email(fanjin1989@gmail.com)?

[2021-03-18 23:52] blasco commented on #274
Very strange. I've sent you another email, this time using my personal account, I hope this time it reaches.

[2021-03-29 13:07] pseudooriginal opened #279 "Scroll go to start if I click between two items"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Report a bug.

* **What is the current behavior?**
I'm using ngx-drag-scroll to scroll in a material chips list. If I click between two chips during my scroll,

[2021-04-14 10:06] bao-doan commented on #208
Thank you! This solution works for me 😊.
(Angular 10.2.4, ngx-drag-scroll 9.0.0-beta.4)

[2021-05-14 10:46] ahavagowtham opened #280 "moveLeft and moveRight functionality without using drag-scroll-item"
* **I'm submitting a  feature request

moveLeft and moveRight functionality without using drag-scroll-item

current behavior:
MoveLeft and moveRight only works if there is drag-scroll-item directive

`    <drag-scroll #nav style="width: 50px; height: 50px">
      <span drag-scroll-item> Big text goes here... </span>
      <span drag-scroll-item> Big text goes here... </span>
      <span drag-scrol

[2021-06-11 07:57] blasco commented on #263
Hi, has this been solved by any chance? Is it safe to update to the latest version? Thank you in advance for your outstanding work!

[2021-06-13 19:56] bfwg commented on #263
hi @blasco , would you mind running dev:ssr on the example app and tell me what you see?

[2021-06-15 11:50] lucasmoreiradev commented on #280
`scroll-x-wheel-enabled` is working only with `drag-scroll-item` too.

[2021-07-09 20:07] blasco commented on #274
Has this been resolved? Does the package now work with angular 11 and SSR? Thank you very much for your effort

[2021-07-18 19:31] Bluejanis commented on #274
I am getting an error with angular 7! The project says Angular 5+ is required, so I should be fine. This is the error I get:

ERROR in node_modules/ngx-drag-scroll/lib/ngx-drag-scroll-item.d.ts(4,9): error TS1086: An accessor cannot be declared in an ambient context.

[2021-07-19 20:49] Bluejanis commented on #272
I am pretty sure there was mobile support. For some reason it does not work anymore on mobile since a couple of days.

[2021-07-23 08:50] Bluejanis opened #282 "Swiping does not work anymore (12.0.0-beta.1)"
* **I'm submitting a ...**
  - [ x] bug report

* **What is the current behavior?**
Swiping to scroll stopped working a couple of days ago. I got the first bug report about that a week ago, but I suspect the issues existed for a few days already.

In the hope of fixing it, I upgraded both this library and Angular from 7 to 12.  But even with Angular 12.1.2 and ngx-drag-scroll 12.0.0-beta.1 swiping

[2021-07-28 18:11] Bluejanis commented on #282
In fact, the last version that would work in my project is ngx-drag-scroll 7.3.6!
An update to 7.3.7 already breaks mobile support. Any idea why?

Was there a breaking change back then?

What seems weird, is that 7.4.3 was working fine until a few weeks ago. Now only older versions like 7.3.4, 7.3.5 & 7.3.6 work.

[2021-09-03 10:54] anujsharma-bbd commented on #282
any update on the same ?

[2021-09-07 21:58] stefann01 commented on #208
This works for me too! Thank you very much.

[2021-09-07 23:24] #208 closed

[2021-09-09 16:20] Clement-E commented on #269
Same issue here with Angular 10.
Removing scrollbar-hidden="true" fix the scroll issue

[2021-10-31 18:40] MilotH2 commented on #263
I am facing the same issue.

[2021-11-18 09:18] yoniyard commented on #270
hey there, im also having trouble with RTL deirection.. the buttons moveRight and moveLeft dont work properly..

[2021-12-03 23:32] lh7dev commented on #26
Just as @ErraticFox said... whenever I use `scrollbar-hidden="true"` my component stop reacting to gestures.
Angular syntax doesn't allow using just `scrollbar-hidden` without setting a value.

my walkaround was to hide the scrollbar using CSS

[code]

I am currently using `Angular 12` and `ngx-drag-scroll@12.0.0-beta.2`

I hope this helps

[2021-12-20 20:02] leo-nascimento commented on #267
Please, merge this.

[2021-12-21 05:58] bfwg commented on #267
@GravlLift this is not a Pull Request.

[2021-12-21 13:18] GravlLift commented on #267
Think this was supposed to be a comment directed at you @leo-nascimento...

[2022-02-01 20:51] brons-git commented on #144
`(mousedown)="$event.stopPropagation()"` added to the child should do the trick

[2022-02-01 21:38] CrackerakiUA commented on #144
in case of child dragging object it will not work

[2022-02-01 21:41] brons-git commented on #144
I'm using it on a child with cdkDrag and it works. I'm able to drag the child around with the background staying in place.

[2022-02-01 21:43] CrackerakiUA commented on #144
ok, sounds interesting, I will test it, thank you

[2022-02-02 19:01] CrackerakiUA commented on #144
not working with ng2-dragula, but good tip :)

[2022-02-18 03:36] bfwg commented on #282
13.0.0-beta.1 is out, thanks to @Groschenroman !

[2022-02-18 03:36] #282 closed

[2022-02-27 12:53] DanBoSlice opened #287 "Disable scrolling but allow dragging"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
feature

* **What is the current behavior?**
It is possible to either disable dragging individually (`drag-disabled`), or both dragging and scrolling together (`

[2022-03-17 11:35] mohamed7afezz commented on #270
I have the same issue with moveRight and moveLeft with RTL.

[2022-03-31 02:14] scm-aunglinnaing opened #290 "Checkboxes in ng-drag-scroll in not working correctly."
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

[2022-04-25 08:07] BaggersIO opened #291 "Please publish 13.0.0-beta.2 with Angular 13 peer dependencies"
Please publish a version including the required peer dependencies. They are already defined in this commit, but not published yet.

https://github.com/bfwg/ngx-drag-scroll/commit/b54a91dd0e22833c13fb175405385fdfbdb42dd6#comments

Thank you!

[2022-04-25 17:59] bfwg commented on #291
Done!

[2022-04-25 17:59] #291 closed

[2022-04-27 11:23] nathanryan3495 opened #292 "MoveRight function incorrectly calculating the full width of container element"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**

![image](https://user-images.githubusercontent.com/35342543/165504463-3c7f8439-991f-42ca-b701-6097b27b4601.png)

As you

[2022-07-06 23:13] davrob01 commented on #26
I can confirm I also experience drag/touch scroll not working on mobile devices when [scrollbar-hidden]="true" is used. I'm using angular 13 and ngx-drag-scroll 13.0.2.

However, I just wanted to chime in with another workaround that some people may prefer. Basically it's the opposite of what @lh7dev is doing. I keep the [scrollbar-hidden]="true" but then add the following CSS rule, which re-enabl

[2022-08-02 08:05] vlad3k commented on #269
The same Angular 14

[2022-08-16 16:52] schvbertt opened #302 "Don't work with Angular 14"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
It's not working

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2022-09-13 07:28] noradroid opened #303 "Allow custom scroll amount"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

Feature

* **What is the current behavior?**

Using moveLeft() or moveRight() only moves one item at a time.

* **What is the motivation / use case for changing

[2022-10-30 17:38] hkkhchan commented on #302
I am using Angular 14. some event not fire like dragStart , dragEnd. But others work.

by the way, I don't know why. I need to change some css. otherwise I can't drag.